<div class="modal-body">
<p>
  <strong><%= t("conditions.name")%>:</strong>
  <%= @condition.name %>
</p>
<p>
  <strong><%= t("conditions.description")%>:</strong>
  <%= @condition.description %>
</p>

<p>
  <strong><%= t("conditions.default")%>:</strong>
  <%= @condition.default %>
</p>

<p>
  <strong><%= t("conditions.deleted_at")%>:</strong>
  <%= @condition.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>


