<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @purchase.folio %>
</p>

<p>
  <strong>Item total:</strong>
  <%= @purchase.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @purchase.total %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @purchase.tax %>
</p>

<p>
  <strong>Tax total:</strong>
  <%= @purchase.tax_total %>
</p>

<p>
  <strong>Tax item total:</strong>
  <%= @purchase.tax_item_total %>
</p>

<p>
  <strong>State:</strong>
  <%= @purchase.state %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @purchase.date %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @purchase.provider ? @purchase.provider.name : "N/A" %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @purchase.created_by_id %>
</p>

<h4>Productos</h4>

<% @purchase.purchase_items.each do |item| %>
  <p>
    <strong>Producto:</strong>
    <%= item.product_variant.product.name %><br>
    <small><b>Unidad: </b> <%= item.unit %></small><br>
    <small><b>No. Serie: </b> <%= item.number_serie %></small><br>
    <small><b>No. Pedimento: </b><%= item.number_procedure %></small><br>
    <small><b>No. Parte: </b><%= item.number_part %></small>    
  </p>
<% end %>

<p>
  <strong>Canceled at:</strong>
  <%= @purchase.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div>
