<% if @collection.each do |object| %>
<tr>
        <td scope="row" ><%= object.id %></td>
        <td><%= object.name %></td>
        <td><%= object.description %></td>
        <td><%= object.deleted_at? ? "<span class='badge badge-danger'>Baja</span>".html_safe : "<span class='badge badge-success'>Activo</span>".html_safe %></td>
        <td>
        	<%= link_to [:admin, object], :class => "btn btn-sm btn-info", data: { modal: true, turbolinks: false }   do %>
        		<em class="fas fa-info-circle"></em> 
        	<%end%>

        	<%= link_to edit_admin_subcategory_path(object), :class => "btn btn-sm btn-info", data: { modal: true }   do %>
        		<em class="fa fa-edit"></em> 
        	<%end%>
        		
        	<%= link_to delete_admin_subcategory_path(object), :class => "btn btn-sm btn-danger", remote: true   do %>
        		<em class="fa fa-trash fa-fw"></em>
        	<%end%>           		
        </td>

</tr>
<% end.empty? %>
  <h3>No hay resultados</h3>
<% end %>