            <p id="notice"><%= notice %></p>
            <div class="card">
               <div class="card-header">
                <%= link_to new_admin_unit_path, :class => "btn btn-success ml-auto", data: { modal: true }   do %>
                  <em class="fa fa-plus-circle fa-fw mr-1"></em>Agregar
                <%end%>
                <%= link_to filter_form_admin_units_path, :class => "btn btn-success ml-auto", data: { modal: true }   do %>
                  <em class="fa mr-2 fas fa-search"></em>Buscar
                <%end%>
                <%= sort_link(@q, "exportar", :format => "xlsx") do %>
                <div class="btn btn-success">
                <em class="fa fa-file-excel"></em> Exportar
                </div>
                <% end%>
                <br><br>
                <div class="form-group">
                <%= search_form_for [:admin, @q] do |f| %>
                  <%= f.search_field :name_or_description_or_abbreviation_or_unit_key_or_unit_description_cont, class: "form-control", placeholder: t('search') %><br>
                  <%= f.submit class: "btn btn-success waves-effect"%>
                <% end %>
                </div>
               </div>
               <div class="card-body">
                  <div class="table-responsive bootgrid">
                     <table class="table table-striped" id="bootgrid-command" >
                        <thead>
                           <tr>
                              <th data-column-id="id" data-type="numeric">ID</th>
                              <th data-column-id="name"><%= t("units.name")%></th>
                              <th data-column-id="abbreviation" data-order="desc"><%= t("units.abbreviation")%></th>
                              <th data-column-id="abbreviation" data-order="desc"><%= t("units.unit_key")%></th>
                              <th data-column-id="status" data-order="desc"><%= t("units.state")%></th>
                              <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                 <div class="text-left"><%= t :commands %></div>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="index-collection">
                         <%= render "index" %> 
                        </tbody>
                     </table>
                    <div class="pagination" id='pagination' style="margin-right: 10%;">
                      <%= render partial: 'admin/shared/paginate', locals: { objects: @collection } %>
                    </div>                     
                  </div>
               </div>
            </div>