<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @unit.abbreviation %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @unit.deleted_at %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
