<div class="modal-body">

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>
<p>
  <strong>Clace SAT:</strong>
  <%= @unit.unit_key %>
</p>
<p>
  <strong>Abbreviation:</strong>
  <%= @unit.abbreviation %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @unit.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>