<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="6">
              <table>
                <tr>
                  <td class="title" style="width:25%">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>
                  <td style="text-align: center; width:25%" class="top">
                  </td>
                  <td style="text-align: left; width:50%">

                  <div class="row">
                    <div class="col-md-6 offset-md-6">
                      <div class="card mb-3 border-radius">
                         <div class="card-header bg-secondary font-white border-radius-no-bottom">Nota de venta</div>
                         <div class="card-body">
                            <p class="card-text" style="text-align: center;">
                              <% if @quotation.sale.present?%>
                              <b class="blue" ><%= @quotation.sale.folio %></b>
                              <% end %>
                            </p>
                         </div>
                      </div>
                   </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="card-text">
                        <% if @quotation.sale.present?%>
                        <b>Fecha de emisión:</b>
                        <b class="blue"><%= @quotation.sale.created_at.strftime("%d-%m-%Y") %></b><br>
                        <% end %>                    
                        <b>Documento origen:</b>
                        <b class="blue">Cotización</b><br>
                        <b>Folio:</b>
                        <b class="blue"><%= @quotation.folio %></b><br>
                        <b>Fecha:</b>
                        <b class="blue"><%= @quotation.created_at.strftime("%d-%m-%Y") %></b>
                      </p>
                   </div>
                  </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr class="information">
            <td colspan="6">
              <div class="row">
              <div class="col-lg-6">
                  <div class="card mb-3 border-radius">
                     <div class="card-header bg-secondary font-white border-radius-no-bottom">Emisor</div>
                     <div class="card-body">
                        <p class="card-text">
                            <b>Razón Social:</b>
                            TOPOSERVIS S de RL de CV<br>
                            <b>RFC:</b>
                            TOP160404KU0<br>
                            <b>Domicilio:</b>
                            Calle 42 No.264 x 41A y 41C, C.P. 97203
                            Francisco de Montejo III Mérida,Yucatán<br>
                            <b>Régimen F.:</b>
                            General de Ley Personas<br>
                        </p>
                     </div>
                  </div>
               </div>
              <div class="col-lg-6">
                  <div class="card mb-3 border-radius">
                     <div class="card-header bg-secondary font-white border-radius-no-bottom">Receptor</div>
                     <div class="card-body">
                        <p class="card-text">
                            <b>Razón Social:</b>
                            <%= @quotation.customer.blank? ? "" : @quotation.customer.business_name %><br>
                            <b>RFC:</b>
                            <%= @quotation.customer.blank? ? "" : @quotation.customer.rfc %><br>
                            <% unless @quotation.sale.blank? %>
                            <b>Uso del CFDI:</b>
                            <%= @quotation.sale.use_of_cfdi.blank? ? "" : @quotation.sale.use_of_cfdi.cfdi_key + " - " + @quotation.sale.use_of_cfdi.name %><br>
                            <% end %>
                        </p>
                     </div>
                  </div>
               </div>
               </div>

            </td>
          </tr>
        
          <tr class="bg-secondary font-white border-radius-no-bottom">
            <td style="text-align: center;">Clave ProdServ</td>
            <td style="text-align: center;">Concepto</td>
            <td class="center">Cantidad</td>
            <td style="text-align: center;">Unidad</td>
            <td class="center">Precio unitario</td>
            <td class="center">Importe</td>
          </tr>

          <% @quotation.items.each do |item| %>
            <tr class="item-no-border">

                <td style="text-align: center;">
                  <%= item.product_variant.product_key %>
                </td>

                <td style="text-align: left;">
                    <%= item.name %>
                    <% unless item.product_variant.product.brand.blank? %>
                     <small>MARCA:
                      <%= item.product_variant.product.brand %>;
                    <% end %></small>

                    <% unless item.product_variant.product.model.blank? %>
                      <small>MODELO:
                      <%= item.product_variant.product.model %>
                      </small><br>
                    <% end %>
                    <small>
                    <br>
                    <small><%= item.extended_description %></small>
                </td>

                <td style="text-align: center;">
                    
                    <%= item.quantity %>
                </td>

                <td class="center">
                    <%= item.unit %>
                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price) %>

                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price * item.quantity) %> <%= item.currency %>
                </td>
            </tr>

            <tr class="item">

                <td></td>

                <td style="text-align: left;">
                    <small>INCLUYE:</small>
                    <ul class="no-indentation">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.accessory.name %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>
                </td>


                <td style="text-align: center;">
                </td>

                <td class="center">
                </td>

                <td class="center">
                    
                    <small>
                    <ul class="no-style">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.quantity %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>
                </td>

                <td class="center">
                </td>
            </tr>
          <% end %>

          <tr>
            <td colspan="6"></td>
          </tr>

          <tr>
            <td colspan="4" rowspan="3">
              <table>
              <tr class="information">
                <td colspan="6">
                  <div class="row">
                    <div class="col-lg-3">
                        <div class="mb-3 border-secondary">
                           <div class="card-body">
                              
                                <b>Forma de pago:</b><br>

                                <% if @quotation.sale.present? %>
                                  <%= @quotation.sale.payment_way.name %>            
                                <% end %> 

                              
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3 border-secondary">
                           <div class="card-body">
                              <b>Método de pago:</b><br>
                                <% if @quotation.sale.present? %>
                                  <%= @quotation.sale.payment_method.name %>
                                <% end %> 
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3 border-secondary">
                           <div class="card-body">
                              <b>Moneda:</b><br>
                              <%= @quotation.currency.name %>
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3 border-secondary">
                           <div class="card-body">
                              <b>Tipo de cambio:</b><br>
                              <%= @quotation.exchange_rate %>
                           </div>
                        </div>
                    </div>
                   </div>

                </td>
              </tr>
              </table>
            </td>
            <td class="bottom" ><b>Subtotal</b></td>
            <td class="center bottom"><%= number_to_currency(@quotation.subtotal) %></td>
          </tr>

          <tr>
            <td><% if @quotation.adjustment_total != 0 %><b>Descuento</b> <%end%></td>
            <td class="center"><% if @quotation.adjustment_total != 0 %>- <%= number_to_currency(@quotation.adjustment_total) %><%end%></td>
          </tr>
          <tr>
            </td>
            <% if @quotation.is_tax %>
            <td><b>I.V.A. (<%= (@quotation.tax * 100).to_i %>%)</b></td>
            <td class="center">+ <%= number_to_currency(@quotation.tax_total) %></td>
            <% end %>
          </tr>
          <tr>
            <td colspan="4">
              <table>
                <tr>
                  <td>
                    <b>IMPORTE CON LETRA:</b>
                    <% if @quotation.is_tax %>
                    
                    <br><%= @quotation.total.to_f.to_words precision: 2 %> <%= sprintf('%02d', (@quotation.total.frac * 100).truncate) %><%= @quotation.currency.abbreviation %>
                    <%else%>
                    
                    <br><%= @quotation.total.to_f.to_words precision: 2 %> <%= sprintf('%02d', (@quotation.total.frac * 100).truncate) %><%= @quotation.currency.abbreviation %>
                    <%end%>
                  </td> 
                </tr>
              </table>
            </td>
            <td class="top"><b>TOTAL:</b></td>
            <td class="center top">
              <% if @quotation.is_tax %>
              <b><%= number_to_currency(@quotation.total) %> <%= @quotation.currency.name %></b>
              
              <%else%>
              <b><%= number_to_currency(@quotation.subtotal) %> <%= @quotation.currency.name %></b>
              
              <%end%>
            </td>
          </tr>
          <tr>
            <td colspan="6"> <p style="text-align: center;"><br><br>Este comprobante no tiene validez fiscal.<p></td>
          </tr>
              </table>
            </td>
          </tr>          
          
        </table>
    </div>