<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="6">
              <table>
                <tr>
                  <td class="title" style="width:25%">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>
                  <td style="text-align: center; width:50%" class="top">
                    <strong>Toposervis S de RL de CV</strong>
                    <br>
                    <span>RFC: TOP160404KU0</span>
                    <br>
                    <span>Calle 42 No.264 x 41A y 41C, C.P. 97203 </span>
                    <br>
                    <span>Francisco de Montejo III Mérida,Yucatán </span>
                    <br>
                    <span>Tel. 01 (800) 890 9383, (999) 4 29 82 78</span>
                    <br>
                  </td>
                  <td style="text-align: center; width:25%">
                    <br>
                    <% if @quotation.sale.present?%>
                    <strong>Nota de venta</strong><br>
                    <b>Folio:</b>
                    <b class="blue"><%= @quotation.sale.folio %></b><br>
                    <b>Fecha:</b>
                    <b class="blue"><%= @quotation.sale.created_at.strftime("%d-%m-%Y") %></b><br>
                    <% end %>                    
                    <strong>Cotización</strong><br>
                    <b>Folio:</b>
                    <b class="blue"><%= @quotation.folio %></b><br>
                    <b>Fecha:</b>
                    <b class="blue"><%= @quotation.created_at.strftime("%d-%m-%Y") %></b>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        

          <tr class="information">
            <td colspan="6">
              <table>
                <tr>
                  <td class="top">
                    <b>Compañia:</b>
                    <%= @quotation.customer.business_name.blank? ? "----" : @quotation.customer.business_name %><br>
                    <b>RFC:</b>
                    <%= @quotation.customer.rfc.blank? ? "----" : @quotation.customer.rfc %><br>
                  	<b>Contacto:</b>
                    <%= @quotation.customer.customer_contacts.blank? ? "----" : @quotation.customer.customer_contacts.first.name.blank? ? "----" : @quotation.customer.customer_contacts.first.name %><br>
                    <b>Teléfono:</b>
                    <%= @quotation.customer.customer_contacts.blank? ?  "----" : @quotation.customer.customer_contacts.first.phone.blank? ? "----" : @quotation.customer.customer_contacts.first.phone %><br>
                    <b>E-mail:</b>
                    <%= @quotation.customer.customer_contacts.blank? ? "----" : @quotation.customer.customer_contacts.first.email.blank? ? "----" : @quotation.customer.customer_contacts.first.email %><br>
                    
                    <% if @quotation.sale.present? %>
                    <b>Método de pago:</b>
                    <%= @quotation.sale.payment_method.name %><br>
                    <b>Forma de pago:</b>
                    <%= @quotation.sale.payment_way.name %>            
                    <% end %>
                  </td>

                </tr>
              </table>
            </td>
          </tr>

          <tr class="heading">
            <td style="text-align: center;">Imagen</td>
            <td style="text-align: center;">Concepto</td>
            
            
            <td style="text-align: center;">Unidad</td>
            <td class="center">Precio</td>
            <td class="center">Cantidad</td>
            <td class="center">Total</td>
          </tr>

          <% @quotation.items.each do |item| %>
            <tr class="item-no-border">

                <td style="text-align: center;">
                  <% if  !(item.product_variant.product_variant_images.blank?) %>
                    <%= image_tag item.product_variant.product_variant_images.first.image.variant(resize_to_limit: [100, 100]) %>
                  <%else%>
                    <%= wicked_pdf_image_tag 'pdf/sin-fotografia.png' %>
                  <%end%>
                </td>

                <td style="text-align: left;">
                    <%= item.name %>
                    <% unless item.product_variant.product.brand.blank? %>
                     <small>MARCA:
                      <%= item.product_variant.product.brand %>;
                    <% end %></small>

                    <% unless item.product_variant.product.model.blank? %>
                      <small>MODELO:
                      <%= item.product_variant.product.model %>
                      </small><br>
                    <% end %>
                    <small>
                    <br>
                    <small><%= item.extended_description %></small>
                </td>

                <td style="text-align: center;">
                    <%= item.unit %>
                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price) %>
                </td>

                <td class="center">
                    <%= item.quantity %>

                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price * item.quantity) %> <%= item.currency %>
                </td>
            </tr>

            <tr class="item">

                <td></td>

                <td style="text-align: left;">
                    <small>INCLUYE:</small>
                    <ul class="no-indentation">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.accessory.name %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>
                </td>


                <td style="text-align: center;">
                    
                </td>

                <td class="center">
                    
                </td>

                <td class="center">
                    
                    <small>
                    <ul class="no-style">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.quantity %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>
                </td>

                <td class="center">
                    
                </td>
            </tr>
          <% end %>

          <tr>
            <td colspan="6"></td>
          </tr>

          <tr>
            <td colspan="4">
              



            </td>
            <td class="bottom"><b>Subtotal</b></td>
            <td class="center bottom"><%= number_to_currency(@quotation.subtotal) %></td>
          </tr>

          <tr>
            <td colspan="4"></td>
            <% if @quotation.adjustment_total != 0 %>
            <td><b>Descuento</b></td>
            <td class="center">- <%= number_to_currency(@quotation.adjustment_total) %></td>
            <% end %>
          </tr>

          <tr>
            <td colspan="4">

              <table>
                <tr>
                  <td>
                    <b>Términos de venta:</b>
                  </td>
                </tr>

              </table>            


            </td>
            <% if @quotation.is_tax %>
            <td><b>Impuesto (<%= (@quotation.tax * 100).to_i %>%)</b></td>
            <td class="center">+ <%= number_to_currency(@quotation.tax_total) %></td>
            <% end %>
          </tr>

          <tr>
            <td colspan="4">

              <table>

                <tr>
                  <td>
                    <%= raw @quotation.condition %>
                  </td>
                </tr>
              </table>


            </td>
            <td class="top"><b>TOTAL:</b></td>
            <td class="center top">
              <% if @quotation.is_tax %>
              <b><%= number_to_currency(@quotation.total) %> <%= @quotation.currency.name %></b>
              <%= @quotation.total.to_words %> <%= @quotation.currency.abbreviation %>
              <%else%>
              <b><%= number_to_currency(@quotation.subtotal) %> <%= @quotation.currency.name %></b>
              <br><%= @quotation.subtotal.to_words %> <%= @quotation.currency.abbreviation %>
              <%end%>
            </td>
          </tr>


              </table>
            </td>
          </tr>          
          
        </table>
    </div>