<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @quotation.folio %>
</p>

<p>
  <strong>Item total:</strong>
  <%= @quotation.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quotation.total %>
</p>

<p>
  <strong>Adjustment total:</strong>
  <%= @quotation.adjustment_total %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @quotation.tax %>
</p>

<p>
  <strong>Tax total:</strong>
  <%= @quotation.tax_total %>
</p>

<p>
  <strong>Tax item total:</strong>
  <%= @quotation.tax_item_total %>
</p>

<p>
  <strong>State:</strong>
  <%= @quotation.state %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @quotation.validity %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @quotation.currency ? @quotation.currency.abbreviation : "N/A" %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @quotation.exchange_rate %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quotation.customer ? @quotation.customer.name : "N/A" %>
</p>
<p>
  <strong>RFC:</strong>
  <%= @quotation.customer ? @quotation.customer.rfc : "N/A" %>
</p>
    
    <% if @quotation.customer.customer_contacts? %>
    <b>Contacto:</b>
    <%= @quotation.customer.customer_contacts.first.name %><br>
    <b>Compañia:</b>
    <%= @quotation.customer.business_name %><br>
    <b>E-mail:</b>
    <%= @quotation.customer.customer_contacts.first.email %><br>
    <% end %>

<p>
  <strong>Condition:</strong>
  <%= @quotation.condition %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @quotation.created_by_id %>
</p>

<h4>Productos</h4>

<% @quotation.items.each do |item| %>
  <p>
    <strong>Producto:</strong>
    <%= item.product_variant.product.name %>
  </p>
<% end %>

<p>
  <strong>Canceled at:</strong>
  <%= @quotation.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div>
