

<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="6">
              <table>
                <tr>
                  <td class="title" style="width:25%">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>
                  <td style="text-align: center; width:50%" class="top">
                    <strong>Toposervis S de RL de CV</strong>
                    <br>
                    <span>RFC: TOP160404KU0</span>
                    <br>
                    <span>Calle 42 No.264 x 41A y 41C, C.P. 97203 </span>
                    <br>
                    <span>Francisco de Montejo III Mérida,Yucatán </span>
                    <br>
                    <span>Tel. 01 (800) 890 9383, (999) 4 29 82 78</span>
                    <br>
                  </td>
                  <td style="text-align: center; width:25%">
                    <br>                   
                    <strong>Cotización</strong><br>
                    <b>Folio:</b>
                    <b class="blue"><%= @quotation.folio %></b><br>
                    <b>Fecha:</b>
                    <b class="blue"><%= @quotation.created_at.strftime("%d-%m-%Y") %></b>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        

          <tr class="information">
            <td colspan="6">
              <table>
                <tr>
                  <td class="top">
                    <b>Compañia:</b>
                    <%= @quotation.customer.business_name.blank? ? "----" : @quotation.customer.business_name %><br>
                    <b>RFC:</b>
                    <%= @quotation.customer.rfc.blank? ? "----" : @quotation.customer.rfc %><br>
                    <b>Contacto:</b>
                    <%= @quotation.customer.customer_contacts.blank? ? "----" : @quotation.customer.customer_contacts.first.name.blank? ? "----" : @quotation.customer.customer_contacts.first.name %><br>
                    

                  <% unless @quotation.customer.customer_contacts.blank? || @quotation.customer.customer_contacts.first.phone.blank?%>
                    <b>Teléfono:</b>
                    <%= @quotation.customer.customer_contacts.blank? ?  "----" : @quotation.customer.customer_contacts.first.phone.blank? ? "----" : @quotation.customer.customer_contacts.first.phone %><br>
                  <% end %>         


                  <% unless @quotation.customer.customer_contacts.blank? || @quotation.customer.customer_contacts.first.cellphone.blank? %>
                    <b>Celular:</b>
                    <%= @quotation.customer.customer_contacts.blank? ?  "----" : @quotation.customer.customer_contacts.first.cellphone.blank? ? "----" : @quotation.customer.customer_contacts.first.cellphone %><br>
                  <% end %>   



                    <b>E-mail:</b>
                    <%= @quotation.customer.customer_contacts.blank? ? "----" : @quotation.customer.customer_contacts.first.email.blank? ? "----" : @quotation.customer.customer_contacts.first.email %><br>
                  </td>

                </tr>
              </table>
            </td>
          </tr>


          <tr class="heading font-row-12">
            <td style="text-align: center;">Imagen</td>
            <td style="text-align: center;">Concepto</td>
            
            
            <td style="text-align: center;">Unidad</td>
            <td class="center">Precio</td>
            <td class="center">Cantidad</td>
            <td class="center">Total</td>
          </tr>

          <% @quotation.items.each do |item| %>
            <tr class="item-no-border font-row-12">

                <td style="text-align: center; padding-bottom: 1px !important;">
                  <% if  !(item.product_variant.product_variant_images.blank?) %>
                    <%= image_tag item.product_variant.product_variant_images.first.image.variant(resize_to_limit: [100, 100]) %>
                  <%else%>
                    <%= wicked_pdf_image_tag 'pdf/sin-fotografia.png' %>
                  <%end%>
                </td>

                <td style="text-align: left;" style="padding-bottom: 1px !important;">
                    <small><b><%= item.name %></b></small>
                    <% unless item.product_variant.product.brand.blank? %>
                     <small><b>MARCA:</b>
                     <b><%= item.product_variant.product.brand %>;</b>
                    <% end %></small>

                    <% unless item.product_variant.product.model.blank? %>
                      <small><b>MODELO:</b>
                      <b><%= item.product_variant.product.model %></b>
                      </small>
                    <% end %>
                    
                    <% unless item.product_variant.product.description.blank? %>
                      <br><small><%= item.product_variant.product.description %></small>
                    <% end %>



                    <br>
                    <small>INCLUYE:</small>
                    <ul class="no-indentation" style="padding-bottom: 0px !important">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.accessory.name %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>
                

                    








                    <% unless item.product_variant.product.comment.blank? %>
                      <br><small><%= item.product_variant.product.comment %></small>
                    <% end %>

                    <% unless item.product_variant.product.comment.blank? %>
                      <br><small>TIEMPO DE GARANTÍA: <%= item.product_variant.stocking_time %></small>
                    <% end %>


                    <% unless item.extended_description.blank? %>
                      <br><small><%= item.extended_description %></small>
                    <% end %>





                    
                </td>

                <td class="top" style="text-align: top; padding-bottom: 1px !important;">
                    <%= item.unit %>
                </td>

                <td class="top" style="padding-bottom: 1px !important;">
                    <%= number_to_currency(item.unit_price) %>
                </td>

                <td class="top" style="padding-bottom: 1px !important;">
                    <%= item.quantity %>
                    <br>
                    <br>
                    <% unless item.product_variant.product.description.blank? %>
                      <br>
                    <% end %>
                    <small>
                    <ul class="no-style" style="padding-bottom: 0px !important">
                    <% item.product_variant.product.products_accessories.each do |accessory| %>
                      <% if accessory.quantity != 0%>
                        <li><%= accessory.quantity %></li>
                      <%end%>
                    <% end %>
                    </ul>
                    </small>

                </td>
 
                <td class="center top" style="padding-bottom: 1px !important;">
                    <%= number_to_currency(item.unit_price * item.quantity) %>
                </td>
            </tr>


          <% end %>

          <tr>
            <td colspan="6"></td>
          </tr>

          <tr class="details font-row-12">
            <td colspan="4">
              
              
              <% if @quotation.is_tax %>
              
              <br><%= @quotation.total.to_i.round(2).to_words precision: 2%> PESOS <%= sprintf('%02d', (@quotation.total.frac * 100).round(2)) %><%= @quotation.currency.abbreviation %>
              <%else%>
              
              <br><%= @quotation.subtotal.to_i.round(2).to_words precision: 2%> PESOS <%= sprintf('%02d', (@quotation.total.frac * 100).round(2)) %><%= @quotation.currency.abbreviation %>
              <%end%>


            </td>
            <td class="bottom"><b>Subtotal</b></td>
            <td class="center bottom"><%= number_to_currency(@quotation.subtotal) %></td>
          </tr>



<% if @quotation.adjustment_total != 0 %>
          <tr class="details font-row-12 ">
            <td colspan="4"></td>
            <td><b>Descuento</b></td>
            <td class="center">- <%= number_to_currency(@quotation.adjustment_total) %></td>
          </tr>
<% end %>


          <tr class="details font-row-12">
            <td colspan="4">

              <table>
                <tr>
                  <td>
                    <b>Términos de venta:</b>
                  </td>
                </tr>

              </table>            


            </td>
            <% if @quotation.is_tax %>
            <td><b>IVA <%= (@quotation.tax * 100).to_i %>%</b></td>
            <td class="center"> <%= number_to_currency(@quotation.tax_total) %></td>
            <% end %>
          </tr>

          <tr class="details font-row-12">
            <td colspan="4">

              <table>

                <tr>
                  <td>
                    <%= raw @quotation.condition %>
                  </td>
                </tr>
              </table>


            </td>
            <td class="top"><b>TOTAL:</b></td>
            <td class="center top">
              <% if @quotation.is_tax %>
              <b><%= number_to_currency(@quotation.total) %> <%= @quotation.currency.name %></b>
             
              <%else%>
              <b><%= number_to_currency(@quotation.subtotal) %> <%= @quotation.currency.name %></b>
             
              <%end%>
            </td>
          </tr>


              </table>
            </td>
          </tr>          
          
        </table>

</div>