<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("depots.name")%>:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong><%= t("depots.description")%>:</strong>
  <%= @currency.description %>
</p>

<p>
  <strong><%= t("depots.abbreviation")%>:</strong>
  <%= @currency.abbreviation %>
</p>

<p>
  <strong><%= t("depots.exchange_rate")%>:</strong>
  <%= @currency.exchange_rate %>
</p>

<p>
  <strong><%= t("depots.deleted_at")%>:</strong>
  <%= @currency.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 