<%= simple_form_for([:admin, @sale]) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
            <!-- START card-->
            <div class="card card-default">
               <div class="card-body">

                     <h3></h3>
                     <fieldset>
                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">

                                 <div class="col-lg-4 mb-4x">
                                        <%= form.label :folio, class: "col-form-label"%> *
                                        <%= form.text_field :folio, class: "form-control", type: "text" %>
                                        <%= form.error :folio, id: 'exchange_rate_error' %>
                                 </div>
                              </div>
                          </div>
                        </div>



                </div>

                                                          
                     <div class="clearfix">
                        <div class="float-right">
                        <%= form.submit class: "btn btn-primary" %>

                        <%= link_to admin_orders_path, :class => "btn btn-danger" do %>
                            Cancelar
                        <%end%>     
                        </div>
                     </div>
                      
                      </fieldset>
               </div> <!--card-body card-->
            </div>
            <!-- END card-->
<% end %>


