<div class="modal-body">
<p>
  <strong><%= t("category_types.name")%>:</strong>
  <%= @category_type.name %>
</p>

<p>
  <strong><%= t("category_types.description")%>:</strong>
  <%= @category_type.description %>
</p>
<p>
  <strong><%= t("category_types.deleted_at")%>:</strong>
  <%= @category_type.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>