<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @expense.payment_method_id %>
</p>

<p>
  <strong>Purchase order:</strong>
  <%= @expense.purchase_order %>
</p>

<p>
  <strong>Last digit:</strong>
  <%= @expense.last_digit %>
</p>

<p>
  <strong>Project:</strong>
  <%= @expense.project %>
</p>

<p>
  <strong>Account:</strong>
  <%= @expense.account_id %>
</p>

<p>
  <strong>Category type:</strong>
  <%= @expense.category_type_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @expense.provider_id %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @expense.document_type_id %>
</p>

<p>
  <strong>Folio:</strong>
  <%= @expense.folio %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @expense.comment %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @expense.concept %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @expense.deleted_at %>
</p>