<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("customers.name")%>:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%= t("customers.rfc")%>:</strong>
  <%= @customer.rfc %>
</p>

<p>
  <strong><%= t("customers.business_name")%>:</strong>
  <%= @customer.business_name %>
</p>

<p>
  <strong><%= t("customer_addresses.name")%>:</strong>
  <%= @customer.customer_address.street %>
</p>

<p>
  <strong><%= t("customer_addresses.number")%>:</strong>
  <%= @customer.customer_address.number %>
</p>

<p>
  <strong><%= t("customer_addresses.interior_number")%>:</strong>
  <%= @customer.customer_address.interior_number %>
</p>

<p>
  <strong><%= t("customer_addresses.crossing")%>:</strong>
  <%= @customer.customer_address.crossing %>
</p>

<p>
  <strong><%= t("customer_addresses.postcode")%>:</strong>
  <%= @customer.customer_address.postcode %>
</p>

<p>
  <strong><%= t("customer_addresses.colony")%>:</strong>
  <%= @customer.customer_address.colony %>
</p>

<p>
  <strong><%= t("customer_addresses.town")%>:</strong>
  <%= @customer.customer_address.town %>
</p>

<p>
  <strong><%= t("customer_addresses.state")%>:</strong>
  <%= @customer.customer_address.state %>
</p>

<p>
  <strong><%= t("customer_addresses.country")%>:</strong>
  <%= @customer.customer_address.country %>
</p>


<% @customer.customer_contacts.each do |contact| %>
  <hr>
  <p>
    <strong><%= t("customer_contacts.name")%>:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong><%= t("customer_contacts.department")%>:</strong>
    <%= contact.department %>
  </p>

  <p>
    <strong><%= t("customer_contacts.phone")%>:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong><%= t("customer_contacts.extension")%>:</strong>
    <%= contact.extension %>
  </p>

  <p>
    <strong><%= t("customer_contacts.cellphone")%>:</strong>
    <%= contact.cellphone %>
  </p>

  <p>
    <strong><%= t("customer_contacts.email")%>:</strong>
    <%= contact.email %>
  </p>
  <hr>

<% end %>

<p>
  <strong><%= t("customer_banks.beneficiary")%>:</strong>
  <%= @customer.customer_bank.beneficiary %>
</p>

<p>
  <strong><%= t("customer_banks.account")%>:</strong>
  <%= @customer.customer_bank.account %>
</p>

<p>
  <strong><%= t("customer_banks.clabe")%>:</strong>
  <%= @customer.customer_bank.clabe %>
</p>

<p>
  <strong><%= t("customer_banks.bank_name")%>:</strong>
  <%= @customer.customer_bank.bank_name %>
</p>

<p>
  <strong><%= t("customer_banks.currency")%>:</strong>
  <%= @customer.customer_bank.currency %>
</p>

<p>
  <strong><%= t("customers.deleted_at")%>:</strong>
  <%= @customer.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>