<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @order.sale.folio %>
</p>

<p>
  <strong>¿Incluye impuestos?</strong>
  <%= t @order.is_tax?.to_s %>
</p>

<p>
  <% if @order.is_tax %>  
    <strong>Subtotal:</strong>
  <% else %>  
    <strong>Total:</strong>
  <% end %>
<%= @order.subtotal %>
</p>

<p>
  <strong>Adjustment total:</strong>
  <%= @order.adjustment_total %>
</p>
<% if @order.is_tax %>

    <p>
      <strong>Total:</strong>
      <%= @order.total %>
    </p>    
    <p>
      <strong>Tax:</strong>
      <%= @order.tax %>
    </p>

    <p>
      <strong>Tax total:</strong>
      <%= @order.tax_total %>
    </p>

    <p>
      <strong>Tax item total:</strong>
      <%= @order.tax_item_total %>
    </p>
<% end %>
<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date%>
</p>
<p>
  <strong>Método de pago:</strong>
  <%= @order.sale.payment_method ? @order.sale.payment_method.name : "N/A" %>
</p>
<p>
  <strong>Forma de pago:</strong>
  <%= @order.sale.payment_way ? @order.sale.payment_way.name : "N/A" %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @order.currency ? @order.currency.abbreviation : "N/A" %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @order.exchange_rate %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer ? @order.customer.name : "N/A" %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @order.observation %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @order.created_by_id %>
</p>

<h4>Productos</h4>

<% @order.items.each do |item| %>
  <p>
    <strong>Producto:</strong>
    <%= item.product_variant.product.name %>
    <strong>Cantidad:</strong>
    <%= item.quantity %>
  </p>
<% end %>

<p>
  <strong>Canceled at:</strong>
  <%= @order.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div>
