  <hr>
  <strong>Contacto</strong>
  <div class="form-group">
        <%= f.label :name, class: "col-form-label"%>
        <%= f.text_field :name, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :department, class: "col-form-label"%>
        <%= f.text_field :department, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :phone, class: "col-form-label"%>
        <%= f.text_field :phone, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :extension, class: "col-form-label"%>
        <%= f.text_field :extension, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :cellphone, class: "col-form-label"%>
        <%= f.text_field :cellphone, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :email, class: "col-form-label"%>
        <%= f.text_field :email, class: "form-control", type: "text" %>
  </div>

  <div class="form-group">
        <%= f.label :delete, class: "col-form-label"%>
        <%= f.check_box :_destroy %>
  </div>

  <hr>
