
<%= simple_form_for [:admin, @diagnosis] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :service_order, label_method: :folio %>
    <%= f.input :date %>
    <%= f.input :delivery_time %>
    <%= f.input :date_delivery %>
    <%= f.association :diagnosis_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
