<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="5">
              <table>
                <tr>
                  <td class="title">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>

                  <td>
                    <strong>Toposervis S de RL de CV</strong>
                    <br>
                    <span>RFC: TOP160404KU0</span>
                    <br>
                    <span>Calle42No.264x41Ay 41C</span>
                    <br>
                    <span>Fraccionamiento Francisco de MontejoIII Mérida,Yucatán </span>
                    <br>
                    <span>Tel. 01 800 890 9383 CP 97203</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        

          <tr class="information">
            <td colspan="5">
              <table>
                <tr>
                  <td class="top">
                    <b>Compañia:</b>
                    <%= @diagnosis.service_order.customer.business_name.blank? ? "----" : @diagnosis.service_order.customer.business_name %><br>
                    <b>RFC:</b>
                    <%= @diagnosis.service_order.customer.rfc.blank? ? "----" : @diagnosis.service_order.customer.rfc %><br>
                    <b>Contacto:</b>
                    <%= @diagnosis.service_order.user.blank? ?  "----" : @diagnosis.service_order.user.name + " " + @diagnosis.service_order.user.lastname %><br>
                    <b>Teléfono:</b>
                    <%= @diagnosis.service_order.user.blank? ?  "----" : @diagnosis.service_order.user.phone %><br>
                    <b>E-mail:</b>
                    <%= @diagnosis.service_order.user.blank? ?  "----" : @diagnosis.service_order.user.email %><br>
                    <% if @diagnosis.sale.present? %>
                    <b>Método de pago:</b>
                    <%= @diagnosis.sale.payment_method.name %><br>
                    <b>Forma de pago:</b>
                    <%= @diagnosis.sale.payment_way.name %>            
                    <% end %>
                  </td>
                  <td class="top">
                    <% if @diagnosis.sale.present?%>
                    <h3>Orden de salida</h3>
                    <b>Folio:</b>
                    <b class="blue"><%= @diagnosis.sale.folio %></b><br>
                    <b>Fecha:</b>
                    <b class="blue"><%= @diagnosis.sale.created_at.strftime("%d-%m-%Y") %></b><br>
                    <% end %>
                  	<h3>Orden de servicio</h3>
                  	<b>Folio:</b>
                    <b class="blue"><%= @diagnosis.service_order.folio %></b><br>
                    <b>Fecha:</b>
                    <b class="blue"><%= @diagnosis.service_order.created_at.strftime("%d-%m-%Y") %></b><br>
                  </td>

                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td colspan="5"><b>Producto:</b> <%= @diagnosis.service_order.product.name %></td>
          </tr>
          <tr>
            <td colspan="5">Por este medio manifiesto enviar el equipo&nbsp;<b><%= @diagnosis.service_order.product.name %></b> marca <b><%= @diagnosis.service_order.brand %></b> modelo <b><%= @diagnosis.service_order.model %></b> con número de serie <b><%= @diagnosis.service_order.serie %></b> para su revisión y diagnostico.</br><br> <b>Accesorios que incluye:</b><br></td>
          </tr>          

          <tr class="heading">
            
            <td class="center" colspan="3">Accesorios</td>
            <td style="text-align: center;" colspan="2">Cantidad</td>
            
          </tr> 

          <% @diagnosis.service_order.order_accessories.where.not(quantity: 0).each do |item| %>
            
            <tr class="item">
                
                <td colspan="3">
                    <%= item.accessory %><br>
                    
                </td>

                <td style="text-align: center;" colspan="2">
                    <%= item.quantity %>
                </td>
                
            </tr>
            
          <% end %>
<!--diagnosis-->
          <tr>
            <td colspan="5" style="text-align: left;"><br><h4>Diagnostico:</h4></td>
          </tr>         

          <tr class="heading">
            
            <td class="center" colspan="5">Descripción del diagnostico</td>
            
            
          </tr> 

          <% @diagnosis.diagnosis_descriptions.each do |item| %>
            
            <tr class="item">
                
                <td colspan="5">
                    <%= item.description %><br>
                </td>
                
            </tr>
            
          <% end %>

<!--end diagnosis-->
<!--diagnosis items-->
          <tr>
            <td colspan="5" style="text-align: left;"><br><b>Presupuesto:</b></td>
          </tr>         

          <tr class="heading">
            <td class="center">Concepto</td>
            <td class="center">Unidad</td>
            <td class="center">Precio</td>
            <td class="center">Cantidad</td>
            <td class="center">Total</td>
          </tr>

          <% @diagnosis.items.each do |item| %>
            <tr class="item">
                <td>
                    <%= item.name %><br>
                    <small><%= item.extended_description %></small>
                </td>

                <td class="center">
                    <%= item.unit %>
                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price) %>
                </td>

                <td class="center">
                    x <%= item.quantity %>
                </td>

                <td class="center">
                    <%= number_to_currency(item.unit_price * item.quantity) %>
                </td>
            </tr>
          <% end %>



          <tr>
            <td colspan="5"></td>
          </tr>

          <tr>
            <td colspan="3"></td>
            <td><b>Subtotal</b></td>
            <td class="center"><%= number_to_currency(@diagnosis.subtotal) %></td>
          </tr>

          <tr>
            <td colspan="3"></td>
            <% if @diagnosis.adjustment_total != 0 %>
            <td><b>Descuento</b></td>
            <td class="center">- <%= number_to_currency(@diagnosis.adjustment_total) %></td>
            <% end %>
          </tr>

          <tr>
            <td colspan="3"></td>
            <% if @diagnosis.is_tax %>
            <td><b>Impuesto (<%= (@diagnosis.tax * 100).to_i %>%)</b></td>
            <td class="center">+ <%= number_to_currency(@diagnosis.tax_total) %></td>
            <% end %>
          </tr>

          <tr>
            <td colspan="3"></td>
            <td><b>TOTAL:</b></td>
            <td class="center">
               <% if @diagnosis.is_tax %>
               <b><%= number_to_currency(@diagnosis.total) %></b>
               <%else%>
               <b><%= number_to_currency(@diagnosis.subtotal) %></b>
               <%end%>
            </td>
          </tr>

<!--end diagnosis items-->


          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>

          <tr>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
          </tr>          
          <tr>
            <td colspan="3" style="text-align: center"><strong>Cliente</strong></td>
            <td colspan="3" style="text-align: center"><strong>Toposervis S de RL de CV</strong></td>
          </tr>
              </table>
            </td>
          </tr>          
          
        </table>
    </div>