<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="5">
              <table>
                <tr>
                  <td class="title">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>

                  <td>
                    <strong>Toposervis S de RL de CV</strong>
                    <br>
                    <span>Calle42No.264x41Ay 41C</span>
                    <br>
                    <span>Fraccionamiento Francisco de MontejoIII Mérida,Yucatán </span>
                    <br>
                    <span>Tel. 01 800 890 9383 CP 97203</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        

          <tr class="information">
            <td colspan="5">
              <table>
                <tr>
                  <td>
                  	<b>Contacto:</b>
                    <%= @diagnosis.service_order.customer.customer_contacts.first.name %><br>
                    <b>Compañia:</b>
                    <%= @diagnosis.service_order.customer.business_name %><br>
                    <b>E-mail:</b>
                    <%= @diagnosis.service_order.customer.customer_contacts.first.email %>
                  </td>
                  <td>
                  	<b>Orden de servicio</b><br>
                  	<b>Folio:</b>
                    <%= @diagnosis.service_order.folio %><br>
                    <b>Fecha:</b>
                    <%= @diagnosis.service_order.created_at.strftime("%d-%m-%Y") %>
                  </td>

                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td colspan="5"><b>Producto:</b> <%= @diagnosis.service_order.product.name %></td>
          </tr>
          <tr>
            <td colspan="5">Por este medio manifiesto enviar el equipo&nbsp;<b><%= @diagnosis.service_order.product.name %></b> marca <b><%= @diagnosis.service_order.brand %></b> model <b><%= @diagnosis.service_order.product.model %></b> con número de serie <b><%= @diagnosis.service_order.serie %></b> para su revisión y diagnostico.</br> <b>Accesorios que incluye:</b></td>
          </tr>          

          <tr class="heading">
            
            <td class="left" colspan="3">Accesorios</td>
            <td class="right" colspan="2">Cantidad</td>
            
          </tr> 

          <% @diagnosis.service_order.order_accessories.where.not(quantity: 0).each do |item| %>
            
            <tr class="item">
                
                <td colspan="3">
                    <%= item.accessory %><br>
                    
                </td>

                <td class="right" colspan="2">
                    <%= item.quantity %>
                </td>
                
            </tr>
            
          <% end %>
<!--diagnosis-->
          <tr class="heading">
            <td colspan="5" style="text-align: center;"><b>Diagnostico y presupuesto</b></td>
          </tr>         

          <tr class="heading">
            
            <td class="left" colspan="5">Descripción</td>
            
            
          </tr> 

          <% @diagnosis.diagnosis_descriptions.each do |item| %>
            
            <tr class="item">
                
                <td colspan="5">
                    <%= item.description %><br>
                </td>
                
            </tr>
            
          <% end %>

<!--end diagnosis-->



          <tr>
            <td colspan="5"></td>
          </tr> 
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>

          <tr>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
          </tr>          
          <tr>
            <td colspan="3" style="text-align: center"><strong>Cliente:</strong></td>
            <td colspan="3" style="text-align: center"><strong>Toposervis S de RL de CV</strong></td>
          </tr>



          <tr>
            <td colspan="5">
              <table>
	          <tr class="footer">
	          	<td colspan="1"></td>
	            <td colspan="2" class="footer" style="text-align: center;">
	            	<b>www.toposervis.com</b></br>
	            	<b>Venta, renta de equipos y servicios de topografía e ingeniería<b></br>
	            	<b>Tel. 01 800 890 9383<b></br>
	            </td>         
	            <td colspan="2"></td>
          </tr> 
              </table>
            </td>
          </tr>          
          
        </table>
    </div>