<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("projects.folio")%>:</strong>
  <%= @project.folio %>
</p>

<p>
  <strong><%= t("projects.code_invoice")%>:</strong>
  <%= @project.code_invoice %>
</p>

<p>
  <strong><%= t("projects.subtotal")%>:</strong>
  <%= @project.subtotal %>
</p>

<p>
  <strong><%= t("projects.total")%>:</strong>
  <%= @project.total %>
</p>

<p>
  <strong><%= t("projects.tax")%>:</strong>
  <%= @project.tax %>
</p>

<p>
  <strong><%= t("projects.tax_total")%>:</strong>
  <%= @project.tax_total %>
</p>

<p>
  <strong><%= t("projects.state")%>:</strong>
  <%= @project.state %>
</p>

<p>
  <strong><%= t("projects.date")%>:</strong>
  <%= @project.date %>
</p>

<p>
  <strong><%= t("projects.provider")%>:</strong>
  <%= @project.provider ? @project.provider.name : "N/A" %>
</p>

<p>
  <strong><%= t("projects.created_by")%>:</strong>
  <%= @project.user.name %> <%= @project.user.lastname %>
</p>

<h4>Productos</h4>

<% @project.project_items.each do |item| %>
  <p>
    <strong>Producto:</strong>
    <%= item.product_variant.product.name %><br>
    <small><b>Unidad: </b> <%= item.unit %></small><br>
    <small><b>No. Serie: </b> <%= item.number_serie %></small><br>
    <small><b>No. Pedimento: </b><%= item.number_procedure %></small><br>
    <small><b>No. Parte: </b><%= item.number_part %></small>    
  </p>
<% end %>

<p>
  <strong><%= t("projects.deleted_at")%>:</strong>
  <%= @project.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div>
