<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Observation</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th>Adjustment total</th>
      <th>Tax</th>
      <th>Tax total</th>
      <th>Tax item total</th>
      <th>State</th>
      <th>Validity</th>
      <th>Currency</th>
      <th>Exchange rate</th>
      <th>Receipt type</th>
      <th>Entry code</th>
      <th>Provider</th>
      <th>Created by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.folio %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.date %></td>
        <td><%= project.observation %></td>
        <td><%= project.subtotal %></td>
        <td><%= project.total %></td>
        <td><%= project.adjustment_total %></td>
        <td><%= project.tax %></td>
        <td><%= project.tax_total %></td>
        <td><%= project.tax_item_total %></td>
        <td><%= project.state %></td>
        <td><%= project.validity %></td>
        <td><%= project.currency_id %></td>
        <td><%= project.exchange_rate %></td>
        <td><%= project.receipt_type_id %></td>
        <td><%= project.entry_code_id %></td>
        <td><%= project.provider_id %></td>
        <td><%= project.created_by_id %></td>
        <td><%= project.deleted_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
