<div class="modal-body">
<p>
  <strong><%= t("payment_methods.name")%>:</strong>
  <%= @payment_method.name %>
</p>

<p>
  <strong><%= t("payment_methods.description")%>:</strong>
  <%= @payment_method.description %>
</p>

<p>
  <strong><%= t("payment_methods.payment_method_key")%>:</strong>
  <%= @payment_method.payment_method_key %>
</p>

<p>
  <strong><%= t("payment_methods.deleted_at")%>:</strong>
  <%= @payment_method.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 
<div id="modal-holder" ></div>