<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_service_order.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_service_order.description %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @type_service_order.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div> 
