            <div class="card">
               <div class="card-header">
                <%= sort_link(@q, "exportar", :format => "xlsx") do %>
                <div class="mb-1 btn btn-success">
                <em class="fa fa-file-excel"></em> Exportar
                </div>
                <% end%>
               </div>
               <div class="card-body">
                  <div class="table-responsive bootgrid">
                     <table class="table table-striped" id="bootgrid-command" >
                        <thead>
                           <tr>
                              <th data-column-id="id" data-type="numeric">ID</th>
                              <th data-column-id="name">Folio</th>
                              <th data-column-id="name">Nombre</th>
                              <th data-column-id="rfc" data-order="desc">Cantidad</th>
                              <th data-column-id="business_name" data-order="desc">Precio</th>
                              <th data-column-id="status" data-order="desc">Total</th>
                              <th data-column-id="status" data-order="desc">Serie</th>
                              <th data-column-id="status" data-order="desc">Estatus de producto</th>
                           </tr>
                        </thead>
                       <tbody class="index-collection">
            
                        <% if @collection.each do |object| %>
                          <tr>
                                  <td scope="row" ><%= object.id %></td>
                                  <td><%= object.record.folio %></td>
                                  <td><%= object.name %></td>
                                  <td><%= object.quantity %></td>
                                  <td><%= object.unit_price %></td>
                                  <td><%= object.total%></td>
                                  <td><%= object.number_serie %></td>
                                  <td><%= object.product_state %></td>
                                  <td>
                          </tr>
                        <% end.empty? %>
                          <h4>No hay resultados</h4>
                        <%end%>
                        </tbody>
                     </table>
                    <div class="pagination" id='pagination' style="margin-right: 10%;">
                      <!-- add paginate-->
                      <%= render partial: 'admin/shared/paginate_report', locals: { objects: @collection } %>
                    </div>                     
                  </div>
               </div>
            </div>