            <div class="card">
               <div class="card-header">
                <%= sort_link(@q, "exportar", :format => "xlsx") do %>
                <div class="mb-1 btn btn-success">
                <em class="fa fa-file-excel"></em> Exportar
                </div>
                <% end%>
               </div>
               <div class="card-body">
                  <div class="table-responsive bootgrid">
                     <table class="table table-striped" id="bootgrid-command" >
                        <thead>
                           <tr>
                              <th data-column-id="id" data-type="numeric">ID</th>
                              <th data-column-id="name">Origen</th>
                              <th data-column-id="rfc" data-order="desc">Folio</th>
                              <th data-column-id="business_name" data-order="desc">Método de pago</th>
                              <th data-column-id="status" data-order="desc">Forma de pago</th>
                              <th data-column-id="status" data-order="desc">Estatus</th>
                              <th data-column-id="status" data-order="desc">Facturación</th>
                              <th data-column-id="status" data-order="desc">Fecha</th>
                           </tr>
                        </thead>
                       <tbody class="index-collection">
            
                        <% if @collection.each do |object| %>
                          <tr>
                                  <td scope="row" ><%= object.id %></td>
                                  <td><%= t(object.record_type) %></td>
                                  <td><%= object.folio %></td>
                                  <td><%= object.payment_method.name %></td>
                                  <td><%= object.payment_way.name %></td>
                                  <td>
                                      <% if object.deleted_at? %>
                                          <span class="badge badge-danger">Baja</span>
                                      <% end %>

                                      <% unless object.deleted_at? %>
                                          <span class="badge badge-<%= object.state %>"><%= t(object.state) %></span>
                                      <% end %>
                                  </td>
                                  <td>
                                      <span class="badge badge-<%= object.bill_state %>"><%= object.bill_state.blank? ? "" : t(object.bill_state) %></span><br>
                                      <span class="badge badge-<%= object.cancellation_state %>"><%= object.cancellation_state.blank? ? "" : t(object.cancellation_state) %></span>
                                  </td>
                                  <td>
                                      <%= object.updated_at.to_time.to_formatted_s(:db) %>
                                  </td>
                          </tr>
                        <% end.empty? %>
                          <h4>No hay resultados</h4>
                        <%end%>
                        </tbody>
                     </table>
                    <div class="pagination" id='pagination' style="margin-right: 10%;">
                      <!-- add paginate-->
                    </div>                     
                  </div>
               </div>
            </div>