            <p id="notice"><%= notice %></p>
            <div class="card">
               <div class="card-header">
                <%= link_to filter_form_admin_currencies_path, :class => "btn btn-success ml-auto", data: { modal: true }   do %>
                  <em class="fa mr-2 fas fa-search"></em>Buscar
                <%end%>
                <%= sort_link(@q, "exportar", :format => "xlsx") do %>
                <div class="btn btn-success">
                <em class="fa fa-file-excel"></em> Exportar
                </div>
                <% end%>
               </div>
               <div class="card-body">
                  <div class="table-responsive bootgrid">
                     <table class="table table-striped" id="bootgrid-command" >
                        <thead>
                           <tr>
                              <th data-column-id="id" data-type="numeric">ID</th>
                              <th data-column-id="name">Name</th>
                              <th data-column-id="description" data-order="desc"><%= t("currencies.description")%></th>
                              <th data-column-id="email" data-order="desc"><%= t("currencies.abbreviation")%></th>
                              <th data-column-id="status" data-order="desc"><%= t("currencies.exchange_rate")%></th>
                              <th data-column-id="status" data-order="desc"><%= t("currencies.state")%></th>
                              <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                 <div class="text-left"><%= t :commands %></div>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="index-collection">
                         <%= render "index" %> 
                        </tbody>
                     </table>
                    <div class="pagination" id='pagination' style="margin-right: 10%;">
                      <%= render partial: 'admin/shared/paginate', locals: { objects: @collection } %>
                    </div>                     
                  </div>
               </div>
            </div>