            <p id="notice"><%= notice %></p>
            <div class="card">
               <div class="card-header">
                <%= link_to new_admin_payment_bill_path, :class => "btn btn-success ml-auto" do %>
                  <em class="fa fa-plus-circle fa-fw mr-1"></em>Agregar
                <%end%>
                <%= link_to filter_form_admin_payment_bills_path, :class => "btn btn-success ml-auto", data: { modal: true }   do %>
                  <em class="fa mr-2 fas fa-search"></em>Buscar
                <%end%>
                <%= sort_link(@q, "exportar", :format => "xlsx") do %>
                <div class="btn btn-success">
                <em class="fa fa-file-excel"></em> Exportar
                </div>
                <% end%>
                <br><br>



               </div>
               <div class="card-body">
                  <div class="table-responsive bootgrid">
                     <table class="table table-striped" id="bootgrid-command" >
                        <thead>
                           <tr>
                              
                              <th data-column-id="name"><%= t("payment_bills.folio")%></th>
                              <th data-column-id="rfc" order="desc"><%= t("payment_bills.customer")%></th>
                              <th data-column-id="business_name" data-payment_bill="desc"><%= t("payment_bills.total")%> <small>(antes de impuesto)</small></th>
                              <th data-column-id="status" order="desc"><%= t("payment_bills.state")%></th>
                              <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                                 <div class="text-left"><%= t("commands")%></div>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="index-collection">
                         <%= render "index" %> 
                        </tbody>
                     </table>
                    <div class="pagination" id='pagination' style="margin-right: 10%;">
                      <%= render partial: 'admin/shared/paginate', locals: { objects: @collection } %>
                    </div>                     
                  </div>
               </div>
            </div>