<div class="modal-body">
<p id="notice"><%= notice %></p>

<div class="p-0 col-md-12">
  <% if  !(@product.product_variants.first.product_variant_images.blank?) %>
    <%= image_tag @product.product_variants.first.product_variant_images.first.image.variant(resize_to_limit: [500, 500]), class: "image-preview d-block w-100"%>
  <% end %>
</div>

<% if  !(@product.product_variants.first.product_variant_images.blank?) %>
  <div id="gallery" class="carousel slide my-3" data-ride="carousel">
      <div class="carousel-inner">
          <%= create_carousel(@product.product_variants.first.product_variant_images) %>
      </div>

      <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
<% end %>

<p>
  <strong><%= t("products.name")%>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= t("products.stock")%>:</strong>
  <%= @product.product_variants.first.stock_item.stock.round %>
</p>

<p>
  <strong><%= t("products.brand")%>:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong><%= t("products.model")%>:</strong>
  <%= @product.model %>
</p>

<p>
  <strong><%= t("products.description")%>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t("products.comment")%>:</strong>
  <%= @product.comment %>
</p>

<p>
  <strong><%= t("products.product_line")%>:</strong>
  <%= @product.product_line.name %>
</p>

<p>
  <strong><%= t("products.unit")%>:</strong>
  <%= @product.unit.name %>
</p>

<p>
  <strong><%= t("products.provider")%>:</strong>
  <%= @product.provider.name %>
</p>
<hr>
<strong>Costos y Precios</strong>
<p>
  <strong><%= t("product_variants.currency")%>:</strong>
  <%= @product.product_variants.first.currency.abbreviation %>
</p>

<p>
  <strong><%= t("product_variants.code")%>:</strong>
  <%= @product.product_variants.first.code %>
</p>

<p>
  <strong><%= t("product_variants.code_alternative")%>:</strong>
  <%= @product.product_variants.first.code_alternative %>
</p>

<p>
  <strong><%= t("product_variants.stocking_time")%>:</strong>
  <%= @product.product_variants.first.stocking_time %>
</p>

<p>
  <strong><%= t("product_variants.cost_price")%>:</strong>
  <%= @product.product_variants.first.cost_price %>
</p>

<p>
  <strong><%= t("product_variants.amount_public")%>::</strong>
  <%= @product.product_variants.first.amount_public %>
</p>

<p>
  <strong><%= t("product_variants.amount_provider")%>:</strong>
  <%= @product.product_variants.first.amount_provider %>
</p>

<p>
  <strong><%= t("product_variants.amount_shipping")%>:</strong>
  <%= @product.product_variants.first.amount_shipping %>
</p>

<p>
  <strong><%= t("product_variants.stock_min")%>:</strong>
  <%= @product.product_variants.first.stock_min %>
</p>

<p>
  <strong><%= t("product_variants.stock_max")%>:</strong>
  <%= @product.product_variants.first.stock_max %>
</p>
<hr>
<strong>Accesorios</strong>
<% @product.products_accessories.each do |accessory| %>

<p>
  <strong><%= t("products_accessories.accessory")%>:</strong>
  <%= accessory.accessory.name %>
</p>

<p>
  <strong><%= t("products_accessories.quantity")%>:</strong>
  <%= accessory.quantity %>
</p>

<% end %>
<hr>
<strong>Inventario</strong>
<p>
  <strong><%= t("products.stock")%>:</strong>
  <%= @product.product_variants.first.stock_item.stock.round %>
</p>

<% @product.product_variants.first.product_stocks.each do |product_stock| %>

<p>
  <strong>Número de serie:</strong>
  <%= product_stock.serial_number %>
</p>
<% end %>

<hr>
<p>
  <strong>¿El producto o servicio es para Ordenes de servicio?:</strong>
  <%= t(@product.is_service_order) %>
</p>

<p>
  <strong><%= t("products.deleted_at")%>:</strong>
  <%= @product.deleted_at %>
</p>
</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>
<script type="text/javascript">
$('.carousel').carousel()  
</script>
<script type="text/javascript">

  $( ".item-img" ).click(function() {
    var src = $(this).attr('src');
    $('.image-preview').attr("src", src);
  });

  $('.carousel').carousel()   
</script> 
<style type="text/css">
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }
</style>