<p id="notice"><%= notice %></p>

<h1>Category Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_types.each do |category_type| %>
      <tr>
        <td><%= category_type.name %></td>
        <td><%= category_type.description %></td>
        <td><%= category_type.deleted_at %></td>
        <td><%= link_to 'Show', category_type %></td>
        <td><%= link_to 'Edit', edit_category_type_path(category_type) %></td>
        <td><%= link_to 'Destroy', category_type, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Type', new_category_type_path %>
