<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category_type.description %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @category_type.deleted_at %>
</p>

<%= link_to 'Edit', edit_category_type_path(@category_type) %> |
<%= link_to 'Back', category_types_path %>
