<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @quotation_service.folio %>
</p>

<p>
  <strong>Item total:</strong>
  <%= @quotation_service.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quotation_service.total %>
</p>

<p>
  <strong>Adjustment total:</strong>
  <%= @quotation_service.adjustment_total %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @quotation_service.tax %>
</p>

<p>
  <strong>Tax total:</strong>
  <%= @quotation_service.tax_total %>
</p>

<p>
  <strong>Tax item total:</strong>
  <%= @quotation_service.tax_item_total %>
</p>

<p>
  <strong>State:</strong>
  <%= @quotation_service.state %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @quotation_service.validity %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @quotation_service.currency ? @quotation_service.currency.abbreviation : "N/A" %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @quotation_service.exchange_rate %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quotation_service.customer ? @quotation_service.customer.name : "N/A" %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @quotation_service.condition %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @quotation_service.created_by_id %>
</p>

<h4>Productos</h4>

<% @quotation_service.items.each do |item| %>
  <p>
    <strong>Producto:</strong>
    <%= item.product_variant.product.name %>
  </p>
<% end %>

<p>
  <strong>Canceled at:</strong>
  <%= @quotation_service.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div>
