<div class="modal-body">
<p>
  <strong><%= t("users.name")%>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t("users.lastname")%>:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong><%= t("users.phone")%>:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong><%= t("users.role")%>:</strong>
  <%= @user.role.description %>
</p>
<p>
  <strong><%= t("users.deleted_at")%>:</strong>
  <%= @user.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>

