<div class="modal-body">

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @user.deleted_at %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role_id %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
  </div> 

  <div id="modal-holder" ></div>

