<% if @collection.each do |object| %>
<% if can? :read, object %>
<tr>    
        <% if current_user.role && current_user.role.name != "customer" %>
        
        <% end %>
        <td><%= object.folio %></td>
        <td><%= object.date_admission.to_formatted_s(:db)  %></td>
        <td><%= object.customer ? object.customer.business_name : "N/A" %></td>
        <td><%= object.product ? object.product.name : "N/A" %></td>
        <td><%= object.serie %></td>
        <td><span class="badge badge-active"><%= object.diagnosis.blank? ? "" : object.diagnosis.sale.blank? ? "" : t(object.diagnosis.sale.state) %></span></td>
        <td>
            <% if object.deleted_at? %>
                <span class="badge badge-danger">Baja</span>
            <% end %>

            <% unless object.deleted_at? %>
                <span class="badge badge-<%= object.state %>"><%= t(object.state) %></span>
            <% end %>
        </td>

        <td>
            <% if can? :read, object%>
            <%= link_to show_from_modal_admin_service_order_path(object), :class => "btn btn-sm btn-info", data: { modal: true, turbolinks: false, toggle: 'tooltip', placement: 'top', original_title: t('information') }   do %>
                <em class="fas fa-info-circle"></em> 
            <%end%>
            <%end%>

<% unless object.state == "diagnosed" %>
            <% if can? :update, object %>
        	<%= link_to edit_admin_service_order_path(object), :class => "btn btn-sm btn-info", data: { toggle: 'tooltip', placement: 'top', original_title: t('service_order') } do %>
        		<em class="fa fa-edit"></em> 
        	<%end%>
            <% end %>
<% end %>


            <% if can? :update, object %>
            <%= link_to diagnoses_admin_service_order_path(object), :class => "btn btn-sm btn-info", data: { toggle: 'tooltip', placement: 'top', original_title: t('to_diagnose') } do %>
                <em class="fa fa-wrench"></em> 
            <%end%>
            <%end%>



            <% if can? :update, object %>
            <%if object.diagnosis.present?%>


            <%= link_to sales_admin_service_order_path(object), :class => "btn btn-sm btn-info #{object.diagnosis.sale.present? ? 'disabled-link' : ''}", data: { toggle: 'tooltip', placement: 'top', original_title: t('sale_order') } do %>
                <em class="fa-1x fas fa-shopping-cart"></em>
            <%end%>


            <%end%>
            <%end%>

            <% if can? :update, object %>
                <% if object.diagnosis.present? && object.diagnosis.sale.present? && object.state == "sold"  %>
                <%= link_to output_admin_service_order_path(object), :class => "btn btn-sm btn-info", remote: true, data: { toggle: 'tooltip', placement: 'top', original_title: t('deliver') }   do %>
                    <em class="fa fa-share"></em> 
                <% end %>
            <% end %>
            <%end%>

             <%= link_to admin_service_order_path(object), :class => "btn btn-sm btn-info", data: { toggle: 'tooltip', placement: 'top', original_title: t('bill') } do %>
                <em class="fa-1x fas fa-external-link-alt"></em>
             <%end%>

            <% if can? :read, object %>
            <button class="btn dropdown-toggle btn-info" type="button" data-toggle="dropdown" aria-expanded="false"><em class="fas fa-print"></em></button>
               <div class="dropdown-menu" role="menu" style="">

                    <%= link_to show_from_pdf_admin_service_order_path(object, format: :pdf), :class => "dropdown-item", target: :_blank do %>
                        Orden de servicio
                    <%end%>

                    <% if object.diagnosis.present? %>
                    <%= link_to show_from_pdf_admin_diagnosis_path(object.diagnosis.id, format: :pdf), :class => "dropdown-item", target: :_blank do %>
                        Diagnostico
                    <%end%>
                    <% end %>

                    <% if object.diagnosis.present? && object.diagnosis.sale.present? && object.state == "delivered"%>
                    <%= link_to output_pdf_admin_diagnosis_path(object.diagnosis.id, format: :pdf), :class => "dropdown-item", target: :_blank do %>
                        Orden de salida
                    <%end%>
                    <%end%>

                    <% if object.diagnosis.present? && object.diagnosis.sale.present?%>
                    <%= link_to note_from_pdf_admin_diagnosis_path(object.diagnosis.id, format: :pdf), :class => "dropdown-item", target: :_blank do %>
                        Nota de venta
                    <% end %>
                    <%end%>
               </div>
            <%end%>

            <% if can? :update, object %>
        	<%= link_to delete_admin_service_order_path(object), :class => "btn btn-sm btn-danger", remote: true, data: { toggle: 'tooltip', placement: 'top', original_title: t('remove') }   do %>
        		<em class="fa fa-trash fa-fw"></em>
        	<%end%>         
            <%end%>  		
        </td>

</tr>
<% end %>
<% end.empty? %>
  <h3>No hay resultados</h3>
<% end %>