<%= render "show"%>

<%= simple_form_for([:admin, @service_order]) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
            <!-- START card-->
            <div class="card card-default">
               <div class="card-body">
                  
                     <h3></h3>
                     <h4 class="box-title m-t-40">Información general del Diagnostico</h4>
                     <fieldset>

  <%= form.fields_for :diagnosis, (@service_order.diagnosis.nil? ? Diagnosis.new : @service_order.diagnosis) do |f| %>
        

                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">
                                <div class="col-lg-4 mb-4">
                                  <label class="form-label">Fecha de diagnostico</label>
                                  <div class="form-group"> 
                                    <%= f.text_field :date, class: "form-control" , placeholder: "Fecha", type: 'date', value: (f.object.date ? f.object.date.to_date : '')%>
                                  </div>  
                                </div> 

                                <div class="col-lg-4 mb-4">
                                  <label class="form-label">Tiempo de diagnostico</label>
                                  <div class="form-group"> 
                                    <%= f.text_field :delivery_time, class: "form-control" %>
                                    <%= f.error :delivery_time, id: 'delivery_time_error' %>
                                  </div>  
                                </div> 

                                 <div class="col-lg-4 mb-4">
                                  <%= f.label :diagnosis_type_id, class: "col-form-label"%>
                                  <div class="form-group">
                                    <%= f.collection_select :diagnosis_type_id, DiagnosisType.all, :id, :name, {prompt: t('choose_from_select')}, {class: "custom-select custom-select-sm"}  %>
                                    <%= f.error :diagnosis_type, id: 'diagnosis_type_error' %>
                                  </div> 
                                 </div>

                              </div>
                          </div>
                        </div>

                        <!-- start img-->
                        <div class="form-group row">
                           <div class="col-md-12">
                            <span class="fa fa-upload mr-2"></span><label class="form-label"><%=t("select_images")%></label>
                            <small><%=t("max_size")%></small>
                              <div class="form-row">
                                 <div class="col-lg-12 mb-12x">
                                        <%= f.file_field :images, multiple: true, class: "mb-1 btn btn-outline-secondary" %>
                                        <%= f.error :images, id: 'images_error' %>
                                 </div>

                              </div>
                          </div>
                        </div>
                        </br>

                      <% if @service_order.diagnosis %>
                         <% if @service_order.diagnosis.images.attached? %>
                          <div class="form-group row" >
                          <%= f.fields_for :images_attachments do |i| %>
                                    <div class="col-md-3">
                                      <%= image_tag i.object.variant(resize_to_limit: [300, 300]) %>
                                    </div> 
                                    <div class="col-md-3">
                                      <div class="col-md-12">
                                        <label>Eliminar</label> <%= i.check_box :_destroy    %>
                                      </div>
                                    </div>     
                          <% end %>
                          </div>    
                        <% end %>
                      <% end %>
                      <!-- end img-->


                      <!-- Table diagnosticos -->
                      <hr>
                      <h4 class="box-title m-t-40">Captura de diagnostico</h4>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div id="open_modal" class="btn btn-success ml-auto">
                              <em class="fa fa-plus-circle fa-fw mr-1"></em>Agregar
                            </div>
                          </div>
                        </div>
                      </div>
                      </br>
                                                          
                      <div class="col-lg-12">
                        <div class="white-box">
                          <table id="table_product" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead id="product_head" >
                              <tr>
                                <th class="text-center" data-field="product">Diagnostico</th>
                                <th class="text-center" data-field="product">Creado por</th>
                                <th class="text-center" data-field="product">Fecha</th>
                                <th class="text-center" data-field="last_name" data-sort-ignore="true" class="min-width">Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>

                                <%if @service_order.diagnosis %>
                                  <% @service_order.diagnosis.diagnosis_descriptions.each_with_index do |item,index| %>
                                    <tr class="text-center" data-id="<%=item.id%>">
                                      <td>
                                      <%= item.description %><br>
                                      </td>
                                      <td><%= item.user.name %> <%= item.user.lastname %></td>
                                      <td><%= item.created_at %></td>
                                      <td></td>
                                      
                                        <input type="hidden" value="<%=item.id%>" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes][<%=index%>][id]">

                                    </tr>
                                  <%end%>
                                <%end%>                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end table diagnosticos -->


                      <%= render "item", f:f%>

                      <%= render "activity", f:f%>

  <% end %>                

                     <div class="clearfix">
                        <div class="float-right">
                        <%= form.submit class: "btn btn-primary" %>

                        <%= link_to admin_service_orders_path, :class => "btn btn-danger" do %>
                            Cancelar
                        <%end%>     
                        </div>
                     </div>
                      
                      </fieldset>
               </div> <!--card-body card-->
            </div>
            <!-- END card-->
<% end %>


<!-- Diagnosis /.modal -->
<div id="note_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ui-draggable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Diagnostico</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="bg-danger rounded" style="color:white; font-weight:bold;">
            <ul class="errors"></ul>
          </div>


          <div class="form-group">
            <label class="control-label">Descripción</label>
            <input type="text" class="form-control" id="description"> 
          </div>


      </div>
      <div class="modal-footer">
        <div id="sbm_product" type="button" class="btn btn-primary waves-effect waves-light"><%= t('add')%></div>
        <div type="button" class="btn btn-danger waves-effect" data-dismiss="modal"><%= t('cancel')%></div>
      </div>
    </div>
  </div>
</div>

<!-- Activity /.modal -->
<div id="note_modal_activity" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ui-draggable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Procedimiento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="bg-danger rounded" style="color:white; font-weight:bold;">
            <ul class="errors_"></ul>
          </div>


          <div class="form-group">
            <label class="control-label">Descripción</label>
            <input type="text" class="form-control" id="description_activity"> 
          </div>


      </div>
      <div class="modal-footer">
        <div id="sbm_product_activity" type="button" class="btn btn-primary waves-effect waves-light"><%= t('add')%></div>
        <div type="button" class="btn btn-danger waves-effect" data-dismiss="modal"><%= t('cancel')%></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Products methods ****
  // variables
  var product_rows = document.getElementById('table_product').getElementsByTagName("tr").length;
  var productCount = <%= @service_order.diagnosis.diagnosis_descriptions.count.to_f %>;
  var username ="<%= current_user.name %> <%= current_user.lastname %>"; 
  
  // Open modal
  $("#open_modal").click(function(){
     $("#note_modal").appendTo("body").modal('show');;
  });
  // OnclickListener obtiene los valores del formulario producto
  $('#sbm_product').click(function(){
    var item = {
                "description": $("#description").val()
                };
    var row = create_row(item);
    if(validate()){
      $('#table_product tbody').append(row);
      $('#note_modal').modal('hide');
      clearForm();
      productCount += 1;
      
    }
  });
  // Crea la fila
  function create_row (item) {
    var row = $('<tr class="text-center" data_id='+productCount+'><td>' + item.description + 
                '</td>' +
                '<td>'+ username +'</td>' +
                '<td></td>' +
                '<td><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline btnDelete"><em class="fa-2x icon-close mr-2"></em></button></td>' +
                '</td>' + create_row_input(item) +
                '</tr>');
    return row;
  }
  // Crea los hidden fields, obtenidos en el formulario
  function create_row_input(item){
    var input =
    '<input type="hidden" value="'+<%= current_user.id %>+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][created_by_id]" >' +
    '<input type="hidden" value="'+item.description+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][description]" >';
    return input;
  }

  // Validaciones
  function validate(){
    $("#note_modal").animate({ scrollTop: 0 }, 'slow');
    $("ul.errors").html("");
    var validate = true;
    var errors = [];
    if($("#description").val() == ""){
      validate = false;
      errors.push("Agregue una descripción");
    }
    if(validate){
      return true;
    }else{
      $.each( errors, function( key, value ) {
        // Display errors
        $("ul.errors").append($("<li />").html(value))
      });
    }
  }

  // Elimina la fila seleccionada
  $("#table_product").on('click', '.btnDelete', function () {
    var productID = $(this).closest('tr').data("id");
    if (productID != null){
      generateOnDestroy(productID);
    }
    $(this).closest('tr').remove();
    calculateTotal();
  });
  // Enviar item para eliminar
  function generateOnDestroy(id){
    var itemDestroy = '<tr><input type="hidden" value="1" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][_destroy]">'+
      '<input type="hidden" value="'+id+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][id]"><tr>';
    $('#table_product tbody').append(itemDestroy);
    productCount +=1;
  }

  // Clear the form
  function clearForm(){
    $("#description").val("");
  }

  // End products ****
</script>
<script type="text/javascript">
  // Products methods ****
  // variables
  var product_rows = document.getElementById('table_activity').getElementsByTagName("tr").length;
  var productCount = <%= @service_order.diagnosis.activity_descriptions.count.to_f %>;
  var username ="<%= current_user.name %> <%= current_user.lastname %>"; 
  
  // Open modal
  $("#open_modal_activity").click(function(){
     $("#note_modal_activity").appendTo("body").modal('show');;
  });
  // OnclickListener obtiene los valores del formulario producto
  $('#sbm_product_activity').click(function(){
    var item = {
                "description": $("#description_activity").val()
                };
    var row = create_row_(item);
    if(validate_()){
      $('#table_activity tbody').append(row);
      $('#note_modal_activity').modal('hide');
      clearForm_();
      productCount += 1;
      
    }
  });
  // Crea la fila
  function create_row_ (item) {
    var row = $('<tr class="text-center" data_id='+productCount+'><td>' + item.description + 
                '</td>' +
                '<td>'+ username +'</td>' +
                '<td></td>' +
                '<td><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline btnDelete"><em class="fa-2x icon-close mr-2"></em></button></td>' +
                '</td>' + create_row_input_(item) +
                '</tr>');
    return row;
  }
  // Crea los hidden fields, obtenidos en el formulario
  function create_row_input_(item){
    var input =
    '<input type="hidden" value="'+<%= current_user.id %>+'" name="service_order[diagnosis_attributes][activity_descriptions_attributes]['+productCount+'][created_by_id]" >' +
    '<input type="hidden" value="'+item.description+'" name="service_order[diagnosis_attributes][activity_descriptions_attributes]['+productCount+'][description]" >';
    return input;
  }

  // Validaciones
  function validate_(){
    $("#note_modal_activity").animate({ scrollTop: 0 }, 'slow');
    $("ul.errors_").html("");
    var validate = true;
    var errors = [];
    if($("#description_activity").val() == ""){
      validate = false;
      errors.push("Agregue una descripción");
    }
    if(validate){
      return true;
    }else{
      $.each( errors, function( key, value ) {
        // Display errors
        $("ul.errors_").append($("<li />").html(value))
      });
    }
  }

  // Elimina la fila seleccionada
  $("#table_activity").on('click', '.btnDelete', function () {
    var productID = $(this).closest('tr').data("id");
    if (productID != null){
      generateOnDestroy_(productID);
    }
    $(this).closest('tr').remove();
    calculateTotal();
  });
  // Enviar item para eliminar
  function generateOnDestroy_(id){
    var itemDestroy = '<tr><input type="hidden" value="1" name="service_order[diagnosis_attributes][activity_descriptions_attributes]['+productCount+'][_destroy]">'+
      '<input type="hidden" value="'+id+'" name="service_order[diagnosis_attributes][activity_descriptions_attributes]['+productCount+'][id]"><tr>';
    $('#table_activity tbody').append(itemDestroy);
    productCount +=1;
  }

  // Clear the form
  function clearForm_(){
    $("#description_activity").val("");
  }

  // End products ****
</script>