<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @service_order.folio %>
</p>

<p>
  <strong>Fecha de admisión:</strong>
  <%= @service_order.date_admission %>
</p>

<% @service_order.orders_types.each do |type| %>
  <p>
    <strong>Tipo de servicio:</strong>
    <%= type.type_service_order.name %>
  </p>
<% end %>

<p>
  <strong>Cliente:</strong>
  <%= @service_order.customer ? @service_order.customer.name : "N/A" %>
</p>

<p>
<p>
  <strong>Producto:</strong>
  <%= @service_order.product ? @service_order.product.name : "N/A" %>
</p>
<p>
  <strong>Serie:</strong>
  <%= @service_order.serie %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @service_order.brand %>
</p>
<p>
  <strong>Modelo:</strong>
  <%= @service_order.model %>
</p>
<p>
  <strong>Observaciones:</strong>
  <%= @service_order.observation %>
</p>
<p>

<% if @service_order.images.attached? %>
<div class="form-group row" >
<% @service_order.images.each do |f| %>
          <div class="col-md-6">
            <%= image_tag f.variant(resize_to_limit: [300, 300]) %>
          </div>    
<% end %>
</div>    
<% end %>
</p>

<%if @service_order.order_accessories.first %>
<strong>Accesorios:</strong><br>
  <% @service_order.order_accessories.each_with_index do |item,index| %>
    <tr class="text-center" data-id="<%=item.id%>">
      <td>
      <%= item.accessory %>
      </td>
      
      <td>
        <%=item.quantity%><br>
      </td>
    </tr>
  <%end%>
<%end%>  
</p>

<p>
  <strong>Created by:</strong>
  <%= @service_order.user.name %>
</p>


<p>
  <strong>Canceled at:</strong>
  <%= @service_order.deleted_at %>
</p>

</div>




<%= simple_form_for([:admin, @service_order]) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
            <!-- START card-->
            <div class="card card-default">
               <div class="card-body">
                  
                     <h3></h3>
                     <fieldset>

  <%= form.fields_for :diagnosis, (@service_order.diagnosis.nil? ? Diagnosis.new : @service_order.diagnosis) do |f| %>
        
        
        <%= f.text_field :delivery_time %>

        

       <div class="form-group">
          <%= f.label :diagnosis_type_id, class: "col-form-label"%>
          <div class="form-group">
            <%= f.collection_select :diagnosis_type_id, DiagnosisType.all, :id, :name, {prompt: t('choose_from_select')}, {class: "custom-select custom-select-sm"}  %>
          </div>  
       </div>

<!-- start img-->
                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">
                                 <div class="col-lg-12 mb-12x">
                                        <%= f.file_field :images, multiple: true, class: "mb-1 btn btn-outline-secondary" %>
                                 </div>

                              </div>
                          </div>
                        </div>
                        </br>

                         <% if @service_order.diagnosis.images.attached? %>
                          <div class="form-group row" >
                          <%= f.fields_for :images_attachments do |i| %>
                                    <div class="col-md-3">
                                      <%= image_tag i.object.variant(resize_to_limit: [300, 300]) %>
                                    </div> 
                                    <div class="col-md-3">
                                      <div class="col-md-12">
                                        <label>Eliminar</label> <%= i.check_box :_destroy    %>
                                      </div>
                                    </div>     
                          <% end %>
                          </div>    
                        <% end %>



<!-- end img-->





                              <!-- Table diagnosticos -->
                      <h4 class="box-title m-t-40">Captura de diagnostico</h4>
                      <hr>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div id="open_modal" class="btn btn-success ml-auto">
                              <em class="fa fa-plus-circle fa-fw mr-1"></em>Agregar
                            </div>
                          </div>
                        </div>
                      </div>
                      </br>
                                                          
                      <div class="col-lg-12">
                        <div class="white-box">
                          <table id="table_product" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead id="product_head" >
                              <tr>
                                <th class="text-center" data-field="product">Diagnostico</th>
                                <th class="text-center" data-field="product">Creado por</th>
                                <th class="text-center" data-field="product">Fecha</th>
                                <th class="text-center" data-field="last_name" data-sort-ignore="true" class="min-width">Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>

                                <%if @service_order.diagnosis.diagnosis_descriptions.first %>
                                  <% @service_order.diagnosis.diagnosis_descriptions.each_with_index do |item,index| %>
                                    <tr class="text-center" data-id="<%=item.id%>">
                                      <td>
                                      <%= item.description %><br>
                                      </td>
                                      <td><%= item.user.name %> <%= item.user.lastname %></td>
                                      <td><%= item.created_at %></td>
                                      <td></td>
                                      
                                        <input type="hidden" value="<%=item.id%>" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes][<%=index%>][id]">

                                    </tr>
                                  <%end%>
                                <%end%>                              
                            </tbody>
                          </table>
                        </div>
                      </div>
<!--end diagnosticos -->


  <% end %>                

                     <div class="clearfix">
                        <div class="float-right">
                        <%= form.submit class: "btn btn-primary" %>

                        <%= link_to admin_service_orders_path, :class => "btn btn-secondary" do %>
                            Cancelar
                        <%end%>     
                        </div>
                     </div>
                      
                      </fieldset>
               </div> <!--card-body card-->
            </div>
            <!-- END card-->
<% end %>


<!-- Diagnosis /.modal -->
<div id="note_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ui-draggable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Diagnostico</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="bg-danger rounded" style="color:white; font-weight:bold;">
            <ul class="errors"></ul>
          </div>


          <div class="form-group">
            <label class="control-label">Descripción</label>
            <input type="text" class="form-control" id="description"> 
          </div>


      </div>
      <div class="modal-footer">
        <div type="button" class="btn btn-default waves-effect" data-dismiss="modal"><%= t('cancel')%></div>
        <div id="sbm_product" type="button" class="btn btn-success waves-effect waves-light"><%= t('add')%></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Products methods ****
  // variables
  var product_rows = document.getElementById('table_product').getElementsByTagName("tr").length;
  var productCount = <%= @service_order.diagnosis.diagnosis_descriptions.count.to_f %>;
  var username ="<%= current_user.name %> <%= current_user.lastname %>"; 
  
  // Open modal
  $("#open_modal").click(function(){
     $("#note_modal").appendTo("body").modal('show');;
  });
  // OnclickListener obtiene los valores del formulario producto
  $('#sbm_product').click(function(){
    var item = {
                "description": $("#description").val()
                };
    var row = create_row(item);
    if(validate()){
      $('#table_product tbody').append(row);
      $('#note_modal').modal('hide');
      clearForm();
      productCount += 1;
      
    }
  });
  // Crea la fila
  function create_row (item) {
    var row = $('<tr class="text-center" data_id='+productCount+'><td>' + item.description + 
                '</td>' +
                '<td>'+ username +'</td>' +
                '<td></td>' +
                '<td><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline btnDelete"><em class="fa-2x icon-close mr-2"></em></button></td>' +
                '</td>' + create_row_input(item) +
                '</tr>');
    return row;
  }
  // Crea los hidden fields, obtenidos en el formulario
  function create_row_input(item){
    var input =
    '<input type="hidden" value="'+<%= current_user.id %>+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][created_by_id]" >' +
    '<input type="hidden" value="'+item.description+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][description]" >';
    return input;
  }
  // Establece el total en el formulario
  function setTotal() {
    var quantity = $("#note_quantity").val();
    var price = $("#note_unit_price").val();
    $("#note_total").val(quantity*price);
  }
  // Determina el tipo de descuento
  function selectDiscount(){
    setTotal();
    var typeDiscount = $("#note_factor option:selected").text();
    if(typeDiscount == "Importe"){
      valueImport();
    }
    if(typeDiscount == "Porcentaje"){
      valueFactor();
    }
  }
  // Calcula el total con descuento del tipo Importe
  function valueImport(){
    var total = $("#note_total").val();
    var discount = $("#note_discount").val();
    $("#note_total").val(total-discount);
  } 
  // Calcula el total con descuento del tipo Porcentaje
  function valueFactor(){
    var currentTotal = $("#note_total").val();
    var discount = $("#note_discount").val();
    var factor = currentTotal * (discount/100);
    $("#note_total").val(currentTotal-factor);
  }
  // Validaciones
  function validate(){
    $("#note_modal").animate({ scrollTop: 0 }, 'slow');
    $("ul.errors").html("");
    var validate = true;
    var errors = [];
    if($("#note_product").val() == 0){
      validate = false;
      errors.push("Seleccione un producto");
    }
    if($("#note_quantity").val() == 0){
      validate = false;
      errors.push("La cantidad debe ser mayor a 0");
    }
    if($("#note_unit_price").val() == 0){
      validate = false;
      errors.push("Precio unitario debe ser mayor a 0, Seleccione tipo de cambio");
    }
    if(isDiscount()){
      if($("#note_factor").val() == ""){
      validate = false;
      errors.push("Seleccione un tipo de descuento");
      }
      if($("#note_discount").val() == 0){
        validate = false;
        errors.push("Valor de descuento debe ser mayor a 0");
      }
    }
    if(validate){
      return true;
    }else{
      $.each( errors, function( key, value ) {
        // Display errors
        $("ul.errors").append($("<li />").html(value))
      });
    }
  }
  // Determina si se aplica la validacion de descuento
  function isDiscount(){
    if ($(".show-fields").is(".d-none")) {
      return false;
    }else{
      return true;
    }
  }
  // Elimina la fila seleccionada
  $("#table_product").on('click', '.btnDelete', function () {
    var productID = $(this).closest('tr').data("id");
    if (productID != null){
      generateOnDestroy(productID);
    }
    $(this).closest('tr').remove();
    calculateTotal();
  });
  // Enviar item para eliminar
  function generateOnDestroy(id){
    var itemDestroy = '<tr><input type="hidden" value="1" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][_destroy]">'+
      '<input type="hidden" value="'+id+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][id]"><tr>';
    $('#table_product tbody').append(itemDestroy);
    productCount +=1;
  }
  // Toggle discount inputs
  $(".btn-hide label").click(function(){
    if ($(".show-fields").is(".d-none")) {
      $(".show-fields").toggle(5,function(){
        $(".show-fields").removeClass("d-none");
      });
    }else{
      $(".show-fields").toggle("slow",function(){
        $(".show-fields").addClass("d-none");
        $("#note_factor").val("");
        $("#note_discount").val("0");
        setTotal();
      });
    }
  });
  // Clear the form
  function clearForm(){
    
    $("#description").val("");

  }

  // Calculate importe
  function calculateTotal(){
    total = 0;
    tax_total = 0;
    var product = 0;
    total_with_tax = 0
    $('#table_product > tbody  > tr').each(function() {
      var product_total = $(this).find(".row_total_price").html();
      if(product_total != null){
        product = parseFloat(product_total,10);
        total += product;
        tax_total = total * 0.16
        total_with_tax = total + tax_total
      }
    });

    total_discount = 0;
    var discount = 0;
    $('#table_product > tbody  > tr').each(function() {
      var product_discount = $(this).find(".row_total_discount").html();
      if(product_discount != null){
        discount = parseFloat(product_discount);
        total_discount += discount;
      }
    });

    $("#total_sale").val(total);
    $("#tax_total").val(tax_total);
    $("#total_with_tax").val(total_with_tax);
    $("#adjustment_total").val(total_discount);
  }

  // End products ****
</script>
