<%= render "show"%>
<%= simple_form_for([:admin, @service_order]) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
            <!-- START card-->
            <div class="card card-default">
               <div class="card-body">
                  
                     <h3></h3>
                     <h4 class="box-title m-t-40">Información general del Diagnostico</h4>
                     <fieldset>

  <%= form.fields_for :diagnosis, (@service_order.diagnosis.nil? ? Diagnosis.new : @service_order.diagnosis) do |f| %>
        

                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">
                                <div class="col-lg-4 mb-4">
                                  <strong><label class="form-label">Fecha de diagnostico</label></strong>
                                  <div class="form-group"> 
                                    <label class="form-label"><%= @service_order.diagnosis.date %></label>
                                  </div>  
                                </div> 

                                <div class="col-lg-4 mb-4">
                                  <strong><label class="form-label">Tiempo de diagnostico</label></strong>
                                  <div class="form-group"> 
                                    <label class="form-label"><%= @service_order.diagnosis.delivery_time %></label>
                                  </div>  
                                </div> 

                                 <div class="col-lg-4 mb-4">
                                  <strong><%= f.label :diagnosis_type_id, class: "form-label"%></strong>
                                  <div class="form-group">
                                    
                                    <% unless @service_order.diagnosis.diagnoses_types.blank? %>
                                    
                                    <div class="form-group row" >
                                    <% @service_order.diagnosis.diagnoses_types.each do |f| %>
                                              
                                                <%= f.diagnosis_type.name %><br>
                                              
                                    <% end %>
                                    </div> 
                                    <% end %> 
                                                                  
                                 
                                  </div> 
                                 </div>

                              </div>
                          </div>
                        </div>

                        <!-- start img-->
                        <div class="form-group row">
                           <div class="col-md-12">
                            <strong><label class="form-label">Imágenes</label></strong>
                          </div>
                        </div>
                        </br>

                      <% if @service_order.diagnosis %>
                         <% if @service_order.diagnosis.images.attached? %>
                          <div class="form-group row" >
                          <%= f.fields_for :images_attachments do |i| %>
                                    <div class="col-md-3">
                                      <%= image_tag i.object.variant(resize_to_limit: [300, 300]) %>
                                    </div> 
                                    <div class="col-md-3">

                                    </div>     
                          <% end %>
                          </div>    
                        <% end %>
                      <% end %>
                      <!-- end img-->


                      <!-- Table diagnosticos -->
                      <hr>
                      <h4 class="box-title m-t-40">Descripción del diagnostico</h4>
                      </br>
                                                          
                      <div class="col-lg-12">
                        <div class="white-box">
                          <table id="table_product" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead id="product_head" >
                              <tr>
                                <th class="text-center" data-field="product">Diagnostico</th>
                                <th class="text-center" data-field="product">Creado por</th>
                                <th class="text-center" data-field="product">Fecha</th>
                                <th class="text-center" data-field="last_name" data-sort-ignore="true" class="min-width">Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>

                                <%if @service_order.diagnosis %>
                                  <% @service_order.diagnosis.diagnosis_descriptions.each_with_index do |item,index| %>
                                    <tr class="text-center" data-id="<%=item.id%>">
                                      <td>
                                      <%= item.description %><br>
                                      </td>
                                      <td><%= item.user.name %> <%= item.user.lastname %></td>
                                      <td><%= item.created_at %></td>
                                      <td></td>
                                      
                                        <input type="hidden" value="<%=item.id%>" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes][<%=index%>][id]">

                                    </tr>
                                  <%end%>
                                <%end%>                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end table diagnosticos -->

<!--pay-->
                      <hr>
                      <h4 class="box-title m-t-40">Captura de venta</h4>
                        <%= f.simple_fields_for :sale do |sale| %>
                         <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">

                                  <div class="col-lg-6 mb-6">
                                   <div class="form-group">
                                     <% @states  = [["",""], ["Pagado","payment"], ["Pendiente", "pending"] ] %>
                                     <%= sale.input :state, collection: @states, selected: @service_order.diagnosis.sale.state, input_html: { class: 'custom-select custom-select-sm' } %>                                      
                                   </div>
                                 </div>

                                 <div class="col-lg-6 mb-6">
                                   <%= f.label :folio, class: "col-form-label"%>
                                   <div class="form-group">
                                     <%= sale.text_field :folio, class: 'form-control', readonly: true %>
                                   </div>
                                 </div>


                              </div>
                          </div>
                        </div>
                        <br>                  
                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">
 

                                 <div class="col-lg-6 mb-6">
                                   
                                   <div class="form-group">
                                     <%= sale.association :payment_method, input_html: { class: 'custom-select custom-select-sm' } %>
                                   </div>
                                 </div>
                                 <div class="col-lg-6 mb-6">
                                   
                                   <div class="form-group">
                                     <%= sale.association :payment_way, input_html: { class: 'custom-select custom-select-sm' } %>
                                   </div>
                                 </div>

                              </div>
                          </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-12">
                              <div class="form-row">
                                 <div class="col-lg-6 mb-6">
                                   <div class="form-group">
                                     <%= sale.association :use_of_cfdi, input_html: { class: 'custom-select custom-select-sm' } %>
                                   </div>
                                 </div>
                              </div>
                          </div>
                        </div>
                      </br>
                        <% end %>
<!--end pay-->



                      <%= render "item", f:f%>

  <% end %>                

                     <div class="clearfix">
                        <div class="float-right">
                        <%= form.submit class: "btn btn-primary" %>

                        <%= link_to admin_service_orders_path, :class => "btn btn-danger" do %>
                            Cancelar
                        <%end%>     
                        </div>
                     </div>
                      
                      </fieldset>
               </div> <!--card-body card-->
            </div>
            <!-- END card-->
<% end %>

<%= render "partial_payment"%>

<!-- Diagnosis /.modal -->
<div id="note_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ui-draggable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Diagnostico</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="bg-danger rounded" style="color:white; font-weight:bold;">
            <ul class="errors"></ul>
          </div>


          <div class="form-group">
            <label class="control-label">Descripción</label>
            <input type="text" class="form-control" id="description"> 
          </div>


      </div>
      <div class="modal-footer">
        <div type="button" class="btn btn-default waves-effect" data-dismiss="modal"><%= t('cancel')%></div>
        <div id="sbm_product" type="button" class="btn btn-success waves-effect waves-light"><%= t('add')%></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Products methods ****
  // variables
  var product_rows = document.getElementById('table_product').getElementsByTagName("tr").length;
  var productCount = <%= @service_order.diagnosis.diagnosis_descriptions.count.to_f %>;
  var username ="<%= current_user.name %> <%= current_user.lastname %>"; 
  
  // Open modal
  $("#open_modal").click(function(){
     $("#note_modal").appendTo("body").modal('show');;
  });
  // OnclickListener obtiene los valores del formulario producto
  $('#sbm_product').click(function(){
    var item = {
                "description": $("#description").val()
                };
    var row = create_row(item);
    if(validate()){
      $('#table_product tbody').append(row);
      $('#note_modal').modal('hide');
      clearForm();
      productCount += 1;
      
    }
  });
  // Crea la fila
  function create_row (item) {
    var row = $('<tr class="text-center" data_id='+productCount+'><td>' + item.description + 
                '</td>' +
                '<td>'+ username +'</td>' +
                '<td></td>' +
                '<td><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline btnDelete"><em class="fa-2x icon-close mr-2"></em></button></td>' +
                '</td>' + create_row_input(item) +
                '</tr>');
    return row;
  }
  // Crea los hidden fields, obtenidos en el formulario
  function create_row_input(item){
    var input =
    '<input type="hidden" value="'+<%= current_user.id %>+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][created_by_id]" >' +
    '<input type="hidden" value="'+item.description+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][description]" >';
    return input;
  }

  // Validaciones
  function validate(){
    $("#note_modal").animate({ scrollTop: 0 }, 'slow');
    $("ul.errors").html("");
    var validate = true;
    var errors = [];
    if($("#description").val() == ""){
      validate = false;
      errors.push("Agregue una descripción");
    }
    if(validate){
      return true;
    }else{
      $.each( errors, function( key, value ) {
        // Display errors
        $("ul.errors").append($("<li />").html(value))
      });
    }
  }

  // Elimina la fila seleccionada
  $("#table_product").on('click', '.btnDelete', function () {
    var productID = $(this).closest('tr').data("id");
    if (productID != null){
      generateOnDestroy(productID);
    }
    $(this).closest('tr').remove();
    calculateTotal();
  });
  // Enviar item para eliminar
  function generateOnDestroy(id){
    var itemDestroy = '<tr><input type="hidden" value="1" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][_destroy]">'+
      '<input type="hidden" value="'+id+'" name="service_order[diagnosis_attributes][diagnosis_descriptions_attributes]['+productCount+'][id]"><tr>';
    $('#table_product tbody').append(itemDestroy);
    productCount +=1;
  }

  // Clear the form
  function clearForm(){
    $("#description").val("");
  }

  // End products ****
</script>