<div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
          <tr class="top">
            <td colspan="5">
              <table>
                <tr>
                  <td class="title">
                    <%= wicked_pdf_image_tag 'pdf/logo.png' %>
                  </td>

                  <td>
                    <strong>Toposervis S de RL de CV</strong>
                    <br>
                    <span>Calle42No.264x41Ay 41C</span>
                    <br>
                    <span>Fraccionamiento Francisco de MontejoIII Mérida,Yucatán </span>
                    <br>
                    <span>Tel. 01 800 890 9383 CP 97203</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        

          <tr class="information">
            <td colspan="5">
              <table>
                <tr>
                  <td>
                  	<b>Contacto:</b>
                    <%= @service_order.customer.customer_contacts.nil? ? @service_order.customer.customer_contacts.first.name : "----"%><br>
                    <b>Compañia:</b>
                    <%= @service_order.customer.business_name %><br>
                    <b>E-mail:</b>
                    <%= @service_order.customer.customer_contacts.nil? ? @service_order.customer.customer_contacts.first.email : "----" %>
                  </td>
                  <td>
                  	<h3>Orden de servicio</h3><br>
                  	<b>Folio:</b>
                    <%= @service_order.folio %><br>
                    <b>Fecha:</b>
                    <%= @service_order.created_at.strftime("%d-%m-%Y") %>
                  </td>

                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td colspan="5"><b>Producto:</b> <%= @service_order.product.name %></td>
          </tr>
          <tr>
            <td colspan="5">Por este medio manifiesto enviar el equipo&nbsp;<b><%= @service_order.product.name %></b> marca <b><%= @service_order.brand %></b> model <b><%= @service_order.product.model %></b> con número de serie <b><%= @service_order.serie %></b> para su revisión y diagnostico.</br> <b>Accesorios que incluye:</b></td>
          </tr>          

          <tr class="heading">
            
            <td class="left" colspan="3">Accesorios</td>
            <td class="right" colspan="2">Cantidad</td>
            
          </tr> 

          <% @service_order.order_accessories.where.not(quantity: 0).each do |item| %>
            
            <tr class="item">
                
                <td colspan="3">
                    <%= item.accessory %><br>
                    
                </td>

                <td class="right" colspan="2">
                    <%= item.quantity %>
                </td>
                
            </tr>
            
          <% end %>

          <tr>
            <td colspan="5"></td>
          </tr>

          <tr>
            <td colspan="5">Manifiesto que los accesorios y observaciones señaladas del equipo al momento de la entrega a <br>
              TOPOSERVIS S DE RL DE CV son de mi entero conocimiento.<br>
            * El tiempo de emisión del diagnóstico es de 2 días.<br>
            * Equipo revisado no autorizado tiene un costo de $500.00 MXN + IVA para estaciones totales y $250.00 MXN + IVA para niveles.<br>
            </td>
          </tr>  

          <tr>
            <td colspan="5"></td>
          </tr>

          <tr>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
            <td colspan="3" style="text-align: center"><strong>_________________________________</strong></td>
          </tr>          
          <tr>
            <td colspan="3" style="text-align: center"><strong>Cliente:</strong></td>
            <td colspan="3" style="text-align: center"><strong>Toposervis S de RL de CV</strong></td>
          </tr>
              </table>
            </td>
          </tr>          
          
        </table>
    </div>