<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("service_orders.folio")%>:</strong>
  <%= @service_order.folio %>
</p>

<p>
  <strong><%= t("service_orders.date_admission")%>:</strong>
  <%= @service_order.date_admission %>
</p>

<% @service_order.orders_types.each do |type| %>
  <p>
    <strong>Tipo de servicio:</strong>
    <%= type.type_service_order.name %>
  </p>
<% end %>

<p>
  <strong><%= t("service_orders.user")%>:</strong>
  <%= @service_order.user.name %> <%= @service_order.user.lastname %>
</p>

<p>
  <strong><%= t("service_orders.customer")%>:</strong>
  <%= @service_order.customer ? @service_order.customer.name : "N/A" %>
</p>

<p>
<p>
  <strong><%= t("service_orders.product")%>:</strong>
  <%= @service_order.product ? @service_order.product.name : "N/A" %>
</p>
<p>
  <strong><%= t("service_orders.serie")%>:</strong>
  <%= @service_order.serie %>
</p>
<p>
  <strong><%= t("service_orders.brand")%>:</strong>
  <%= @service_order.brand %>
</p>
<p>
  <strong><%= t("service_orders.model")%>:</strong>
  <%= @service_order.model %>
</p>
<p>
  <strong><%= t("service_orders.observation")%>:</strong>
  <%= @service_order.observation %>
</p>
<p>

<% if @service_order.images.attached? %>
<div class="form-group row" >
<% @service_order.images.each do |f| %>
          <div class="col-md-6">
            <%= image_tag f.variant(resize_to_limit: [300, 300]) %>
          </div>    
<% end %>
</div>    
<% end %>
</p>

<%if @service_order.order_accessories.first %>
<strong>Accesorios:</strong><br>
  <% @service_order.order_accessories.each_with_index do |item,index| %>
    <tr class="text-center" data-id="<%=item.id%>">
      <td>
      <%= item.accessory %>
      </td>
      
      <td>
        <%=item.quantity%><br>
      </td>
    </tr>
  <%end%>
<%end%>  
</p>

<p>
  <strong><%= t("service_orders.created_by")%>:</strong>
  <%= @service_order.created_by.name %> <%= @service_order.created_by.lastname %>
</p>

<hr>
<h4>Diagnostico</h4>

<% unless @service_order.diagnosis.nil? %>

      <p>
        <strong>¿Esta listo?</strong>
        <%= t(@service_order.diagnosis.is_done) %>
      </p>

      <p>
        <strong>¿Esta autorizado?</strong>
        <%= t(@service_order.diagnosis.is_authorized) %>
      </p>

      <p>
        <strong>Fecha de diagnostico:</strong>
        <%= @service_order.diagnosis.date %>
      </p>

      <p>
        <strong>Tiempo de diagnostico:</strong>
        <%= @service_order.diagnosis.delivery_time %>
      </p>

      <p>
        <strong>Tipo de diagnostico:</strong>
        <%= @service_order.diagnosis.diagnosis_type.name %>
      </p>
      <p>
      <% if @service_order.diagnosis.images.attached? %>
      <div class="form-group row" >
      <% @service_order.diagnosis.images.each do |f| %>
                <div class="col-md-6">
                  <%= image_tag f.variant(resize_to_limit: [300, 300]) %>
                </div>    
      <% end %>
      </div>  
      <p>
      <% if @service_order.diagnosis.diagnosis_descriptions %>
      <table class="table table-bordered table-hover toggle-circle">
        <thead><th>Diagnostico</th><th>Creado por</th><th>Fecha</th></thead>
      <% @service_order.diagnosis.diagnosis_descriptions.each do |f| %>
                <tr>
                  
                  <td><%= f.description %></td>
                  <td><%= f.user.name %> <%= f.user.lastname %></td>
                  <td><%= f.created_at %></td>
                </tr>    
      <% end %>
      </table>
      <% end %>
      </p>

      <% end %>
      </p>
<% end %>

<p>
  <strong><%= t("service_orders.deleted_at")%>:</strong>
  <%= @service_order.deleted_at %>
</p>

</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t(:close) %></button>
</div>
